<%
  # partners_sprite_length is hard-coded as it needs to be in sync with
  # the number of partner companies in sprite
  sprite_response = @dynamic_content.data[GlobalConstant::StaticContentFileName.ost_partners_sprite]['api_response'] rescue []
  if sprite_response.present?
  partners_sprite_length = sprite_response[0]['partners_blocks_in_sprite'].to_i
  sprite_retina_location = sprite_response[0]['partners_bw_2x']
  sprite_location = sprite_response[0]['partners_bw_1x']
  partners_details_sprite_retina = sprite_response[0]['partners_color_2x']
  partners_details_sprite =  sprite_response[0]['partners_color_1x']
  display_labels = {
      :'all' => 'All',
      :'social-creative' => 'Social & Creative',
      :'loyalty' => 'Loyalty',
      :'dapps' => 'DApps',
      :'marketplace' => 'Marketplaces',
      :'community' => 'Community',
      :'sharing-economy' => 'Sharing Economy',
      :'start-up' => 'Startup',
      :'large' => 'Million User Platform'
  }
%>

<style>
  .partner-company{
    background-image: url(<%= sprite_location %>);
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .partner-company{
      background-image: url(<%= sprite_retina_location %>);
    }
  }
  .details-partner-company{
    background-image: url(<%= partners_details_sprite %>);
  }


  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .details-partner-company{
      background-image: url(<%= partners_details_sprite_retina %>);
    }
  }

</style>

<section class="container-partner-companies position-relative pt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="mt-5 pt-5 mb-5 text-center" id="partner-companies">Meet Our Partners</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-lg-5 col-xl-4 mx-auto">

        <div class="row">

          <div class="col-6">
            <div class="form-group mb-0">
              <label for="categorySelect" class="filter-style">Category</label>
              <select class="form-control selectpicker" id="categorySelect">
                <option value="all"><%=  display_labels[:all] %></option>
                <option value="social-creative"><%=  display_labels[:'social-creative'] %></option>
                <option value="loyalty"><%=  display_labels[:'loyalty'] %></option>
                <option value="dapps"><%=  display_labels[:'dapps'] %></option>
                <option value="marketplace"><%=  display_labels[:'marketplace'] %></option>
                <option value="community"><%=  display_labels[:'community'] %></option>
                <option value="sharing-economy"><%=  display_labels[:'sharing-economy'] %></option>
              </select>
            </div>
          </div>
          <div class="col-6 border-class">
            <div class="form-group mb-0">
              <label for="sizeSelect" class="filter-style">SIZE</label>
              <select class="form-control selectpicker" id="sizeSelect">
                <option value="all"><%=  display_labels[:all] %></option>
                <option value="large"><%=  display_labels[:large] %></option>
                <option value="start-up"><%=  display_labels[:'start-up'] %></option>
              </select>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row mt-5" style="overflow: hidden">
      <%
        partners_response = @dynamic_content.data[GlobalConstant::StaticContentFileName.ost_partner]['api_response'] rescue []
        partners_response.each_with_index do|partner, index|
      %>
        <div class="col-6 col-md-3 p-0 category-all size-all visible <%= 'category-'+partner['partners_industry'].join(" category-") %> size-<%= partner['partners_size'] %>">
          <style>.aspect-ratio-box.hover-<%=index %>:hover {background-color: <%= partner['partners_on_hover_bgcolor'] %>;}</style>
          <div class="aspect-ratio-box hover-<%=index %>" data-toggle="modal" data-target="#infoModal-<%=index %>" title="<%=raw(partner['partners_name']) %>">
            <span class="aspect-ratio-box-inside partner-company" style="background-position-y: <%= ((100.00/(partners_sprite_length-1))* partner['partners_sprite_index'].to_i).round(2)%>%;" data-toggle="modal" data-target="#infoModal-<%=index %>" data-partner_companies_index="<%=index %>"></span>
            <% if partner['partners_is_exited'].to_s == "on" %>
              <div class="position-absolute" style="top: 10px;right: 0;font-size: 0;">
                <span class="ribbon">PROJECT ENDED</span>
                <span class="arrow"></span>
              </div>
            <% end %>
          </div>
        </div>

        <% content_for :end_js do %>
          <!-- Modal: infoModal-<%=index %> -->
          <div class="modal fade right modal-company" id="infoModal-<%=index %>" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered h-100">
              <div class="modal-content p-2 p-sm-5">
                <div>
                  <button type="button" class="close close-btn" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-12 col-md-9">
                      <div class="mt-3 mb-2">
                        <span class="details-partner-company" style="background-position-y: <%= ((100.00/(partners_sprite_length-1))* partner['partners_sprite_index'].to_i).round(2)%>%;"></span>
                      </div>
                      <div class="description">
                        <%= raw (partner['partners_description']) %>
                      </div>
                    </div>


                    <div class="col-12 col-md-3 details-style">
                      <% if partner['partners_founders'].present? %>
                        <div class="founders mb-3">
                          <h3 class="text-uppercase details mt-2">Founders</h3>
                          <%  partner['partners_founders'].split(',').each_with_index do|founder, index| %>
                            <div class="name "><%= raw(founder) %></div>
                            <div class="title mb-2"></div>
                          <% end %>
                        </div>
                      <% end %>
                      <% if partner['partners_location'].present? %>
                        <div class="location mb-3">
                          <h3 class="text-uppercase details mt-2">Location</h3>
                          <div class="address"><%= raw(partner['partners_location']) %></div>
                        </div>
                      <% end %>
                      <% if partner['partners_industry'].present? %>
                        <div class="industry mb-3">
                          <h3 class="text-uppercase details mt-2">Industry</h3>
                          <div class="industry-value"><%= raw(partner['partners_industry'].map{ |key| display_labels[key.to_sym] }.join(', ') ) %></div>
                        </div>
                      <% end %>
                      <% if partner['partners_size'].present? %>
                        <div class="size mb-3">
                          <h3 class="text-uppercase details mt-2" >Size</h3>
                          <div class="size-value" ><%=  display_labels[partner['partners_size'].to_sym] %> </div>
                        </div>
                      <% end %>
                      <% if partner['partners_url'].present? %>
                        <div class="website mb-3">
                          <h3 class="text-uppercase details mt-2">Website</h3>
                          <div class="website-value"><a href="<%= raw(partner['partners_url']) %>" target="_blank"><%= raw(partner['partners_url']) %></a></div>
                        </div>
                      <% end %>
                      <% if partner['partners_twitter'].present? || partner['partners_linkedin'].present? || partner['partners_medium'].present?  %>
                        <div class="social mb-3">

                            <% if partner['partners_twitter'].present? %>
                            <a href="<%= raw(partner['partners_twitter']) %>" target="_blank" title="Twitter">
                              <span class="header-social-twitter-icon"></span>
                            </a>
                            <% end %>
                            <% if partner['partners_medium'].present? %>
                            <a href="<%= raw(partner['partners_medium']) %>" target="_blank" title="Medium">
                              <span class="header-social-medium-icon"></span>
                            </a>
                            <% end %>
                            <% if partner['partners_linkedin'].present? %>
                            <a href="<%= raw(partner['partners_linkedin']) %>" target="_blank" title="LinkedIn">
                              <span class="header-social-linkedIn-icon"></span>
                            </a>
                            <% end %>

                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Modal: infoModal-<%=index %> -->
        <% end %>

      <% end %>
    </div>
  </div>

</section>
<% end %>