<section class="container-fluid side-by-side">

  <div class="row my-5 mb-3">
    <div class="container text-center">
      <h3>The Challenge</h3>
      <p>OST KIT⍺ Phase II is a developer-focused private Alpha in which accepted developers will be given access to a sandbox environment of OST KIT where they can integrate any website or app to build a Proof of Concept (POC). Development teams applied by submitting a description of their proposed POC project and their team’s capabilities to us by 6 April, 2018. Each team needed to submit a summary of their POC, a halfway status update video and final accompanying video that addressed highlighted the team's vision for the POC as well as showing a working live demo running transactions using OST KIT.</p>
      <p>For more details on the rules of eligibility for Alpha Phase II, read our kickoff <a href="https://medium.com/ostdotcom/kicking-off-ost-kit-phase-ii-developer-proofs-of-concept-challenge-5f2987f92a97" class="link" target="_blank" title="Blog Post">blog post</a>.</p>
    </div>
  </div>

<%

  side_by_side =  [{
                           :title => "Ready-to-ship PoC: Kwanda",
                           :description => "Kwanda is a Q&A platform with a built in token economy. Users can set a specific reward value to a question allowing for receiveing and rewarding more high quality answers.",
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-winners/ost-winners-sbs-kawanda-1.png",
                           :youtube_link => "https://www.youtube.com/embed/j9E90BxUBoI?loop=1&showinfo=0&enablejsapi=1&autoplay=1",
                           :project_link => "http://kwanda.me",
                           :participants => [
                           {
                               :title => "Marc Heiduk",
                               :type  => "Web developer from Austria"
                           },
                           {
                               :title => "Anton Porsche",
                               :type  => "Web developer from Germany"
                           }
                          ]
                        },
                         {
                           :title => "Best motion picture: kidToken",
                           :description => "kidtoken is the first tokenized cryptocurrency for kids that also offers parents & teachers the ability to incentivize positive behaviors such as good grades, kindness and eating healthy. The platform is a scalable concept aimed at a massive audience, one that’s growing up familiar with digital economies.",
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-winners/ost-winners-sbs-kid-token.png",
                           :youtube_link => "https://www.youtube.com/embed/wtO6d0DJF6s?loop=1&showinfo=0&enablejsapi=1&autoplay=1",
                           :project_link => "https://www.kidtoken.org",
                           :participants => [
                           {
                               :title => "Scott Connors",
                               :type  => "CEO"
                           },
                           {
                             :title => "Casie Connors",
                             :type  => "CFO"
                           },
                           {
                             :title => "Chance Chapman",
                             :type  => "CTO"
                           },
                           {
                             :title => "Michael Murray",
                             :type  => "President of Marketing"
                           },
                           {
                             :title => "Cassidi Murray",
                             :type  => "Community Manager"
                           },
                           {
                             :title => "David Bobr",
                             :type  => "Business Development Manager"
                           }
                           ]
                         },
                         {
                           :title => "Best UX: David Rios, Senior Game Developer",
                           :description => "The goal of HARD is to replace the use of in-game fiat currency. The biggest advantage of a blockchain based economy is that the users are the real owners of their tokens and that it’s transparent how each user is interacting with the economy. Users can use HARD across multiple games and they can make sure that tokens will not disappear, so they are more motivated to convert real money to tokens.",
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-winners/ost-winners-sbs-hard-gaming.png",
                           :youtube_link => "https://www.youtube.com/embed/wtO6d0DJF6s?loop=1&showinfo=0&enablejsapi=1&autoplay=1",
                           :project_link => "https://www.kidtoken.org",
                           :participants => [
                             {
                               :title => "David Rios",
                               :type  => "Senior Game Developer"
                             }
                           ]
                         },
                         {
                           :title => "Most innovative: Coner",
                           :description => "The motivation behind Coner is the problem of limited efficiency of publications search in digital libraries. Coner is an interactive document viewer that visualises automatically extracted keywords in research papers and allows users to rate and add new keywords.",
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-winners/ost-winners-sbs-coner.png",
                           :youtube_link => "https://www.youtube.com/embed/G-bMkp8tm-A?loop=1&showinfo=0&enablejsapi=1&autoplay=1",
                           :project_link => "https://coner-viewer.herokuapp.com/viewer",
                           :participants => [
                             {
                               :title => "Daniel Vliegenthart",
                               :type  => "full-stack web developer"
                             }
                           ]
                         },
                         {
                           :title => 'Best "do good" PoC: ReadIt',
                           :description => "ReadIt's mission is to reduce illiteracy by providing a scalable reading program that enhances the tracking & reward program by leveraging WebUI & Blockchain integration.",
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-winners/ost-winners-sbs-read-it.png",
                           :youtube_link => "https://www.youtube.com/embed/iKD4jAyXq4A?loop=1&showinfo=0&enablejsapi=1&autoplay=1",
                           :project_link => "https://jshin2000.wixsite.com/readitprogram",
                           :participants => [
                             {
                               :title => "John Shin",
                               :type  => "Sales Engineer"
                             },
                             {
                               :title => "Adam Wilhelmi",
                               :type  => "Software Engineer"
                             }
                           ]
                         }
          ]
%>

  <div id="winners">
   <% side_by_side.each_with_index do |data, index| %>

      <% if index%2 == 0 %>
        <div class="row pt-5 side-by-side bg-blue">
          <div class="container">
            <h3 class="mb-4"><%= data[:title]%></h3>
            <div class="row">
              <div class="col-12 col-md-7 play-video">
                <div class="video-image">
                  <img src="<%= data[:youtube_img]%>" class="img-fluid" alt="OST - Design Your Token" title="" />
                  <div class="play">
                    <svg class="svg-play">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-play-icon"></use>
                      </switch>
                    </svg>
                  </div>
                </div>
                <div class="embed-responsive embed-responsive-16by9 video-iframe" hidden>
                  <iframe class="embed-responsive-item" data-src="<%= data[:youtube_link]%>"
                          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <p class="mt-3 mt-md-0"><%= data[:description]%></p>
                <a href="<%= data[:project_link]%>" class="link" target="_blank" title="CHECK THE PROJECT HERE">CHECK THE PROJECT HERE</a>
                <% if data[:participants].present? %>
                  <div class="participants-container blue mt-4 <%= data[:participants].length > 2 ? "slick-slider-min" : "" %>">
                    <p class="mb-2 partners-title">PARTICIPANTS</p>
                    <div class="participants-carousel">
                      <% data[:participants].each_with_index do |data, index| %>
                        <div class="item">
                          <div class="participants-title text-truncate"><%= data[:title]%></div>
                          <small class="font-weight-light"><%= data[:type]%></small>
                        </div>
                      <%end%>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
       <% else %>

        <div class="row side-by-side bg-sky-blue position-relative pt-5">
          <div class="ost-backward-triangle"></div>
          <div class="container py-5">
            <h3 class="my-5"><%= data[:title]%></h3>
            <div class="row">
              <div class="col-12 col-md-7 play-video order-sm-12">
                <div class="video-image">
                  <img src="<%= data[:youtube_img]%>" class="img-fluid" alt="OST - Design Your Token" title="" />
                  <div class="play">
                    <svg class="svg-play">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-play-icon"></use>
                      </switch>
                    </svg>
                  </div>
                </div>
                <div class="embed-responsive embed-responsive-16by9 video-iframe" hidden>
                  <iframe class="embed-responsive-item" data-src="<%= data[:youtube_link]%>"
                          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-12 col-md-5 order-sm-1">
                <p class="mt-3 mt-md-0"><%= data[:description]%></p>
                <a href="<%= data[:project_link]%>" class="link" target="_blank" title="CHECK THE PROJECT HERE">CHECK THE PROJECT HERE</a>
                <% if data[:participants].present? %>
                  <div class="participants-container sky-blue mt-4 <%= data[:participants].length > 2 ? "slick-slider-min" : "" %>">
                    <p class="mb-2 partners-title">PARTICIPANTS</p>
                    <div class="participants-carousel">
                      <% data[:participants].each_with_index do |data, index| %>
                        <div class="item">
                          <div class="participants-title text-truncate"><%= data[:title]%></div>
                          <small class="font-weight-light"><%= data[:type]%></small>
                        </div>
                      <%end%>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
       <% end %>
    <% end %>
  </div>

</section>



