<section class="container-fluid container-twitter py-5 position-relative" style="overflow: hidden">

  <div class="ost-backward-triangle"></div>

  <div class="row">
    <div class="container pt-5 mt-5">
      <div class="row">
        <div class="col-12 px-5">
          <%
             twitter_users = [

                             {
                                 desc: "In just 6 weeks we built a Q&A platform from scratch! In this short time we integrated our own token economy powered by @OSTdotcom for rewarding good answers.",
                                 handle:"@kwandaDotMe",
                                 profile: "https://dxwfxs8b4lg24.cloudfront.net/ost/images/winners-twitter/kwandadotme.jpg",
                                 link:"https://twitter.com/kwandaDotMe/status/1000738502345216001"
                             },
                             {
                                 desc: "Being a part of the growing developer community building on OST has been amazing. #osta2
                                                   Using OST KIT, here’s a look at what dev. teams from around the world were able to create in less than six weeks [...]",
                                 handle:"@Ostkidtoken",
                                 profile: "https://dxwfxs8b4lg24.cloudfront.net/ost/images/winners-twitter/ostkidtoken.jpg",
                                 link:"https://twitter.com/Ostkidtoken/status/1001099129358028801"
                             },
                             {
                                 desc: "I'm done! https://medium.com/really-simple-store …Thank you, @OSTdotcom and @betashop ! I had such a blast working on this over the last 6 weeks. #OST #OSTa2 $OST",
                                 handle:"@truedrewco",
                                 profile: "https://dxwfxs8b4lg24.cloudfront.net/ost/images/winners-twitter/truedrewco.jpg",
                                 link:"https://twitter.com/truedrewco/status/999336118062546944"

                             },
                             {
                                 desc: "Excited to share our final submission for OST KIT Alpha Phase II Dev Challenge! We hope you like the hard work we put into making a production ready app (DQuiz) over the last month!",
                                 handle:"@DappLabs",
                                 profile: "https://dxwfxs8b4lg24.cloudfront.net/ost/images/winners-twitter/dapplabs.jpg",
                                 link:"https://twitter.com/DappLabs/status/999508563146850304"

                             },

                             {
                               desc: "Final submission of our #OSTa2 project $OST Loyalty for @OSTdotcom is done. It is a free loyalty&reward addon for the #ecommerce software @cscart, using any #OST branded token. We hope this a a good step towards more #cryptocurrency adoption. #blockchain",
                               handle:"@TechUpBusiness",
                               profile: "https://dxwfxs8b4lg24.cloudfront.net/ost/images/winners-twitter/techupbusiness.jpg",
                               link:"https://twitter.com/TechUpBusiness/status/999929042747961344"

                             },
                             {
                                 desc: "I’m part of group of 142 others who are building a proof of concept for @OSTdotcom . I’m adding a token economy into Really Simple Store to facilitate “community selling.” Here’s my halfway video. Final video on May 25. #OSTa2",
                                 handle:"@truedrewco",
                                 profile: "https://dxwfxs8b4lg24.cloudfront.net/ost/images/winners-twitter/truedrewco.jpg",
                                 link:"https://twitter.com/truedrewco/status/992212723852247040"
                             },

                             {
                               desc: "Our team is currently hard at work building a universal tokenized allowance for kids. With the ability for parents & teachers to offer rewards and micro-incentives, we're focused on creating the most engaging & fun to use app for millions of children. Powered by @ostdotcom #osta2",
                             handle:"@Ostkidtoken",
                                   profile: "https://dxwfxs8b4lg24.cloudfront.net/ost/images/winners-twitter/ostkidtoken.jpg",
                             link:"https://twitter.com/Ostkidtoken/status/993891674194669568"

                             },
                             {
                               desc: "Been working on my new design for The Community Mind. Pretty pleased, just need to wire it up to the backend and my #OSTa2 alpha test should be good to go! [...]",
                               handle:"@WillAbramson",
                               profile: "https://dxwfxs8b4lg24.cloudfront.net/ost/images/winners-twitter/willabramson.jpg",
                               link:"https://twitter.com/WillAbramson/status/996747734345572353"

                               },
                             ]


          %>
          <div class="row twitter-background pt-4">
             <div class="col-12 col-md-8 mx-auto twitter-desc active">
               <span class="description-text"><%= twitter_users[0][:desc] %></span>
             </div>
          </div>
          <div class="twitter-carousel with-placeholder container mt-3">

            <% twitter_users.each_with_index do |member, index| %>
              <div class="carousel-item text-center align-self-center" data-twitter-index="<%= index %>">
                <div class="hidden-desc d-none">
                  <%= member[:desc] %>
                </div>
                <a  href="<%= member[:link] %>" rel="noopener noreferrer nofollow" target="_blank" class="disabled twitter-link">
                  <img class="twitter-user-img mx-auto" data-lazy="<%= member[:profile] %>"  />
                  <div class="twitter-handle mt-2 active" title="<%= member[:handle] %>">
                    <svg class="align-middle mr-2" style="height: 20px;width: 20px;">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter-bio-icon"></use>
                      </switch>
                    </svg><%= member[:handle] %>
                  </div>
                </a>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :end_js do %>
  <script type="text/javascript">
    $(function(){
      winners.twitter.carousel.init();
    });
  </script>
<%end%>