<section class="container-fluid container-twitter py-5">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12 px-5">
          <%
             twitter_users = [{
                                desc: "Being a part of the growing developer community building on OST has been amazing. #osta2
                                       Using OST KIT, here’s a look at what dev. teams from around the world were able to create in less than six weeks!",
                                handle:"@Ostkidtoken",
                                profile: "@ostkidtoken.jpg",
                                link:"https://twitter.com/Ostkidtoken"
                             },
                             {
                               desc: "I’m part of group of 142 others who are building a proof of concept for @OSTdotcom . I’m adding a token economy into Really Simple Store to facilitate “community selling.” Here’s my halfway video. Final video on May 25. #OSTa2",
                               handle:"@truedrewco",
                               profile: "@truedrewco.jpg",
                               link:"https://twitter.com/truedrewco"

                             },
                             {
                               desc: "In just 6 weeks we built a Q&A platform from scratch! In this short time we integrated our own token economy powered by @OSTdotcom for rewarding good answers.",
                             handle:"@kwandaDotMe",
                                   profile: "@kwandaDotMe.jpg",
                             link:"https://twitter.com/kwandaDotMe"

                             },
                             {
                               desc: "Final submission of our #OSTa2 project $OST Loyalty for @OSTdotcom is done. It is a free loyalty&reward addon for the #ecommerce software @cscart, using any #OST branded token. We hope this a a good step towards more #cryptocurrency adoption. #blockchain",
                               handle:"@TechUpBusiness",
                               profile: "@TechUpBusiness.jpg",
                               link:"https://twitter.com/TechUpBusiness"

                             },
                             {
                               desc: "Excited to share our final submission for OST KIT Alpha Phase II Dev Challenge! We hope you like the hard work we put into making a production ready app (DQuiz) over the last month!",
                               handle:"@DappLabs",
                               profile: "@DappLabs.jpg",
                               link:"https://twitter.com/DappLabs"

                             },
                             {
                               desc: "Our team is currently hard at work building a universal tokenized allowance for kids. With the ability for parents & teachers to offer rewards and micro-incentives, we're focused on creating the most engaging & fun to use app for millions of children. Powered by",
                             handle:"@Ostkidtoken",
                                   profile: "@Ostkidtoken.jpg",
                             link:"https://twitter.com/Ostkidtoken"

                             },

                              {
                                  desc: "I'm done! https://medium.com/really-simple-store …Thank you, @OSTdotcom and @betashop ! I had such a blast working on this over the last 6 weeks. #OST #OSTa2 $OST",
                                  handle:"@truedrewco",
                                  profile: "@truedrewco.jpg",
                                  link:"https://twitter.com/truedrewco"

                              },

                               {
                                   desc: "Been working on my new design for The Community Mind. Pretty pleased, just need to wire it up to the backend and my #OSTa2 alpha test should be good to go! [...]",
                               handle:"@WillAbramson",
                               profile: "@WillAbramson.jpg",
                               link:"https://twitter.com/WillAbramson"

                               },
                             ]


          %>
          <div class="row twitter-background">
             <div class="col-12 col-md-8 mx-auto twitter-desc active">
               <svg class="" style="height: 20px;width: 20px;">
                 <switch>
                   <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter-open-quote-icon"></use>
                 </switch>
               </svg>
               <span class="description-text"><%= twitter_users[0][:desc] %></span>
               <svg class="" style="height: 20px;width: 20px;">
                 <switch>
                   <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter-close-quote-icon"></use>
                 </switch>
               </svg>
             </div>
          </div>
          <div class="twitter-carousel with-placeholder container mt-3">

            <% twitter_users.each_with_index do |member, index| %>
              <div class="carousel-item text-center align-self-center">
                <div class="hidden-desc d-none">
                  <%= member[:desc] %>
                </div>
                <a  href="<%= member[:link] %>" target="_blank" class="disabled twitter-link">
                  <img class="twitter-user-img mx-auto" src="<%= member[:profile] %>"  />
                  <a href="" class="twitter-handle mt-2 active">
                    <svg class="align-middle mr-2" style="height: 20px;width: 20px;">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter-bio-icon"></use>
                      </switch>
                    </svg><%= member[:handle] %>
                  </a>
                </a>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :end_js do %>
  <script type="text/javascript">
      winners.twitter.carousel.init();
  </script>
<%end%>