<div class="<% if defined? visible_class %><%= visible_class %><% else %>q-elements<% end %>" id="2019-q1">

  <%= render :partial => "/web/ost/roadmap/desktop/quarter-header", locals: {
    year: '2019',
    quarter: 'Q1',
    desc_html: '<span class="text-bold">OpenST & OST Mainnet security audit.  Branded Token economies on mainnet with redeem for in-app purchases.</span>'
  } %>

  <div class="row bg-h-border position-relative">
    <div class="col-2 bg-line first py-6 d-flex align-items-center">
      <div class="container-content p-15-10">
        <div class="text-bold">OpenST Protocol 0.10.0 Mainnet Beta</div>
        <div class="status">Status: <%= get_current_quater_roadmap_status(2018, 1) %></div>
      </div>
    </div>
    <div class="col-2 bg-line first py-6 d-flex align-items-center">
      <div class="container-content p-15-10">
        <div class="text-bold">OpenST Mosaic Alpha</div>
        <div class="status">Status: In Progress</div>
      </div>
    </div>
    <div class="col-4 bg-line second py-6 d-flex align-items-center">
      <div class="container-content">
        <div class="text-bold">OST Platform Security Audit</div>
        <div class="text-bold">OST Platform</div>
        <div class="text-bold">OST Wallet SDK</div>
        <div class="status">Status: <%= get_current_quater_roadmap_status(2018, 1) %></div>
      </div>
    </div>
    <div class="col-4 bg-line third py-6 align-items-center d-flex">
      <div class="container-content">
        <div class="text-bold">Redeem BT for in-app purchases (alpha)</div>
        <div class="status">Status: <%= get_current_quater_roadmap_status(2018, 1) %></div>
      </div>
    </div>
  </div>
</div>