<section class="container-fluid footer-nav-wrap position-relative" style="overflow: hidden">
  <div class="row">
    <div class="ost-backward-triangle"></div>
    <div class="ost-triangleSpace"></div>
    <div class="container">
      <div class="row pt-5">
        <div class="col-12 col-md mb-3 mb-sm-0">
          <h6 class="text-uppercase">Products</h6>
          <ul class="footer-nav list-unstyled font-weight-normal">
            <li><a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>" title="OST KIT">OST KIT</a></li>
            <li><a href="<%= GlobalConstant::CompanyOtherProductUrls.view_root_url %>" target="_blank" title="OST VIEW">OST VIEW</a></li>
            <li><a href="<%= GlobalConstant::CompanyOtherProductUrls.kyc_root_url %>" title="OST KYC">OST KYC</a></li>
          </ul>
        </div>
        <div class="col-12 col-md mb-3 mb-sm-0">
          <h6 class="text-uppercase">Developers</h6>
          <ul class="footer-nav list-unstyled">
            <li><a href="https://dev.ost.com" target="_blank" title="API Reference">API Reference</a></li>
            <li><a href="https://drive.google.com/file/d/0Bwgf8QuAEOb7Z2xIeUlLd21DSjQ/view" target="_blank" title="White Paper">White Paper</a></li>
            <li><a href="https://github.com/OpenSTFoundation" target="_blank" title="GitHub">GitHub</a></li>
            <li><a href="https://gitter.im/OpenSTFoundation/SimpleToken" target="_blank" title="Developer Chat">Developer Chat</a></li>
          </ul>
        </div>
        <div class="col-12 col-md mb-3 mb-sm-0">
          <h6 class="text-uppercase">Company</h6>
          <ul class="footer-nav list-unstyled">
            <li><a href="<%= GlobalConstant::Base.root_url %>team" title="Team">Team</a></li>
            <li><a href="<%= GlobalConstant::Base.root_url %>partners" title="Partners">Partners</a></li>
            <li><a href="https://medium.com/ostdotcom" target="_blank" title="Blog">Blog</a></li>
            <li><a href="<%= GlobalConstant::Base.root_url %>news" title="News">News</a></li>
            <li><a href="<%= GlobalConstant::Base.root_url %>careers" title="Careers">Careers</a></li>
            <li><a href="https://help.ost.com" target="_blank" title="Support">Support</a></li>
            <li><a href="<%= GlobalConstant::Base.root_url %>documents" title="Documents">Documents</a></li>
            <li><a href="<%= GlobalConstant::CompanyOtherProductUrls.token_sale_url %>" title="Token Sale">Token Sale</a></li>
          </ul>
        </div>
        <div class="col-12 col-md mb-3 mb-sm-0">
          <h6 class="text-uppercase">Legal</h6>
          <ul class="footer-nav list-unstyled">
            <li><a href="<%= GlobalConstant::Base.root_url %>privacy" title="Privacy Policy">Privacy Policy</a></li>
            <li><a href="<%= GlobalConstant::Base.root_url %>terms" title="Terms of Use">Terms of Use</a></li>
            <li><a href="https://drive.google.com/file/d/0B1E_xJPbELBKeU9pUk5uSnNqWFU/view" target="_blank" title="OST Token Terms">OST Token Terms</a></li>
            <li><a href="https://openst.org" target="_blank" title="OpenST Foundation">OpenST Foundation</a></li>
          </ul>
        </div>
        <div class="col-12 col-md mb-3 mb-sm-0">
          <div class="social-links">
            <h6 class="text-uppercase">Join The Community</h6>
            <ul class="footer-nav list-unstyled" style="font-size: 0">
              <li>
                <a href="https://t.me/ostdotcom" target="_blank" title="OST - Telegram">
                  <span class="footer-social-telegram-icon"></span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/OSTdotcom" target="_blank" title="OST - Twitter">
                  <span class="footer-social-twitter-icon"></span>
                </a>
              </li>
              <li>
                <a href="https://medium.com/ostdotcom" target="_blank" title="OST - Medium">
                  <span class="footer-social-medium-icon"></span>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/18209852" target="_blank" title="OST - Linkedin">
                  <span class="footer-social-linkedIn-icon"></span>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/OST" target="_blank" title="OST - Facebook">
                  <span class="footer-social-facebook-icon"></span>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/ostdotcom" target="_blank" title="OST - Youtube">
                  <span class="footer-social-youtube-icon"></span>
                </a>
              </li>
              <li>
                <a href="https://github.com/OpenSTFoundation" target="_blank" title="OST - Github">
                  <span class="footer-social-github-icon"></span>
                </a>
              </li>
              <li>
                <a href="https://gitter.im/OpenSTFoundation/SimpleToken" target="_blank" title="OST - Gitter">
                  <span class="footer-social-gitter-icon"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>