<%
  ost_watch_link = "https://ostwatch.com/mainnet"
  calendly_link = "https://calendly.com/ostdotcom"
%>
<nav id="menu" class="ost-nav w-100">
  <div class="container nav-container">
    <div class="row align-items-center">
      <a class="navbar-brand ost-brand mr-0" href="<%= GlobalConstant::Base.root_url %>" title="OST">
        <svg class="ost-nav-logo">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
          </switch>
        </svg>
      </a>
      <label for="tm" id="toggle-menu" class="mb-0 ml-auto ml-md-0 align-self-start navbar-toggler" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggle-menu"></span>
        <span class="toggle-menu"></span>
        <span class="toggle-menu"></span>
      </label>
      <input type="checkbox" id="tm">
      <ul class="main-menu clearfix m-0 p-0 list-unstyled collapse" id="navbarToggler">

        <li>
          <a href="<%= GlobalConstant::CompanyOtherProductUrls.dev_ost_root_url %>" target="_blank" rel="noopener noreferrer nofollow" class="main-nav-item" title="Developers">Developers</a>
        </li>

        <li>
          <a href="<%=ost_watch_link %>" target="_blank" rel="noopener noreferrer nofollow" class="main-nav-item">
            Live Transactions
            <label class="navbar-toggler p-0 m-0" for="developers" data-toggle="collapse" data-target="#navbarToggler3" aria-controls="navbarToggler3" aria-expanded="false" aria-label="Toggle navigation"></label>
          </a>
        </li>


        <li>
          <a href="https://medium.com/ostdotcom" target="_blank" rel="noopener noreferrer nofollow" class="main-nav-item">
            Blog
            <label  class="navbar-toggler p-0 m-0" for="company" data-toggle="collapse" data-target="#navbarToggler5" aria-controls="navbarToggler5" aria-expanded="false" aria-label="Toggle navigation"></label>
          </a>
        </li>

        <li class="d-block d-md-none">
          <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>login" class="main-nav-item" title="Developers">Login</a>
        </li>

        <li class="d-block d-md-none">
          <a href="<%=calendly_link %>" target="_blank" rel="noopener noreferrer nofollow" class="main-nav-item" title="Developers">Schedule a call</a>
        </li>

      </ul>
      <div class="d-none d-md-inline ml-auto">
        <a href ="<%=calendly_link%>" target="_blank" rel="noopener noreferrer nofollow" class="btn btn-secondary"> Schedule a call</a>
      </div>


    </div>
  </div>
</nav>

<div class="navbar-phatom-el"></div>