<%= render :partial => "/shared/web/common/navbar" %>

<div class="container container-text-page container-documents">
  <div class="row">
    <div class="col-12 mb-5">
      <h2 class="mt-4">Careers</h2>

      <h4 class="mt-4">Berlin, Germany</h4>

      <% @berlin_careers.each_with_index do|member, index| %>

        <h5 class="mt-4 pt-2">
          <a href="<%=member['careers_url'] %>" target="_blank" title="<%=member['careers_title'] %>"><%=member['careers_title'] %>&nbsp;
            <svg class="icon-open-tab">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-open-tab"></use>
                </switch>
              </svg>
          </a>
        </h5>
        <p><%=member['careers_description'] %></p>
        <div class="horizontal-line"></div>
      <% end %>


      <h4 class="mt-4">Pune, India</h4>

      <% @pune_careers.each_with_index do|member, index| %>

        <h5 class="mt-4 pt-2">
          <a href="<%=member['careers_url'] %>" target="_blank" title="<%=member['careers_title'] %>"><%=member['careers_title'] %>&nbsp;
            <svg class="icon-open-tab">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-open-tab"></use>
              </switch>
            </svg>
          </a>
        </h5>
        <p><%=member['careers_description'] %></p>
        <div class="horizontal-line"></div>
      <% end %>

    </div>
  </div>

</div>