<%= render :partial => "/shared/web/common/navbar" %>

<%
  press_release = [
      {
          header: "In the News",
          title: "Flint Daily",
          link: "https://flintdaily.com/analysts-noticed-simpletoken-osts-24-hours-increase-of-19-48/",
          desc: 'Analysts noticed SimpleToken (OST)’s 24 hours increase of 19.48%',
          date: "10-Jan-2018"
      },
      {
          title: "Christopher Keith (Youtube)",
          link: "https://www.youtube.com/watch?v=l2hJpMumRTQ",
          desc: 'SimpleToken Review',
          date: "9-Jan-2018"
      },
      {
          title: "Christopher Keith (Youtube)",
          link: "https://www.youtube.com/watch?v=jbAjsvztCgU",
          desc: 'Fundamental Cryptocurrency Research/ Analysis',
          date: "9-Jan-2018"
      },
      {
          title: "MMA Hot Stuff",
          link: "https://www.mmahotstuff.com/2018/01/08/on-january-7-8-analysts-noticed-simpletoken-ost-rise-by-21-02.html",
          desc: 'On January 7-8 analysts noticed SimpleToken (OST) rise by 21.02%',
          date: "8-Jan-2018"
      },
      {
          title: "TechWorld",
          link: "https://www.techworld.com/picture-gallery/startups/six-blockchain-startups-watch-3669058/",
          desc: 'Six blockchain startups to watch',
          date: "5-Jan-2018"
      },
      {
          title: "Proactive Investors UK",
          link: "http://www.proactiveinvestors.co.uk/companies/market_reports/189586/kryptonite-1-and-regal-petroleum-powering-up-in-london-deals-189586.html",
          desc: 'Keller gains on US acquisition talks, also says Trump tax changes will benefit future earnings',
          date: "5-Jan-2018"
      },
      {
          title: "Crypto Hearsay",
          link: "http://www.cryptohearsay.com/4-cryptocurrencies-set-to-explode-in-early-2018-update-on-simple-token/",
          desc: '4 Cryptocurrencies Set To Explode In Early 2018, Update On Simple Token',
          date: "4-Jan-2018"
      },
      {
          title: "B-Roots (Youtube)",
          link: "https://www.youtube.com/watch?v=7EAO-sT6bjs&t=341s",
          desc: 'How to buy Simple Token ST OST Using Coinbase Safely Step by Step Video',
          date: "2-Jan-2018"
      },
      {
          title: "Getting Started With Crypto (Youtube)",
          link: "https://www.youtube.com/watch?v=DKzF8bvVGBY",
          desc: 'Simple Token Could be Huge | Closer Look',
          date: "1-Jan-2018"
      },
      {
          title: "Crypto Thug",
          link: "https://www.youtube.com/watch?v=UF89pbLuuEI",
          desc: 'Simple Token on Coinmarketcap - Buy or Not?',
          date: "1-Jan-2018"
      },
      {
          title: "BlockTribune",
          link: "http://blocktribune.com/blockchain-cryptocurrency-2018-predictions/",
          desc: 'Blockchain and Cryptocurrency 2018 Predictions',
          date: "26-Dec-2017"
      },
      {
          title: "News Tap​ (Korea)",
          link: "http://www.newstap.co.kr/news/articleView.html?idxno=63867",
          desc: 'Simple Token, Listed Exclusively on Binance Exchange',
          date: "23-Dec-2017"
      },
      {
          title: "Interface News (Korea)",
          link: "http://www.internews.kr/news/articleView.html?idxno=14591",
          desc: 'Simple Token, Exclusive Listing on Binance Exchange',
          date: "22-Dec-2017"
      },
      {
          title: "Enews Today (Korea)",
          link: "http://www.enewstoday.co.kr/news/articleView.html?idxno=1139330",
          desc: 'Simple Token, Exclusive Debut Listing on Binance Exchange',
          date: "22-Dec-2017"
      },
      {
          title: "PR Times (Japan)",
          link: "https://prtimes.jp/main/html/rd/p/000000001.000030697.html",
          desc: '独自トークンの構築&管理プラットフォーム「Simple Token」が暗号通貨取引所 Binance に上場！',
          date: "20-Dec-2017"
      },
      {
          title: "BlockTribune",
          link: "http://blocktribune.com/ico-aftermath-simple-token-takes-next-steps-build-company/",
          desc: 'ICO Aftermath: Blockchain’s Simple Token Takes Next Steps',
          date: "19-Dec-2017"
      },
      {
          title: "WeltN24 (Germany)",
          link: "https://www.welt.de/wirtschaft/webwelt/article171630091/Dieses-Start-up-warnt-vor-ICOs-ohne-Geschaeftsmodell.html",
          desc: 'This startup warns of ICOs without a business model',
          date: "16-Dec-2017"
      },
      {
          title: "Gründerszene (Germany)",
          link: "https://www.gruenderszene.de/allgemein/blockchain-und-bitcoin-smells-like-1993",
          desc: 'Blockchain und Bitcoin – smells like 1993',
          date: "10-Dec-2017"
      },
      {
          title: "Interface News (Korea)",
          link: "http://www.internews.kr/news/articleView.html?idxno=13816",
          desc: '심플 토큰, 공식 토큰 판매 성료',
          date: "7-Dec-2017"
      },
      {
          title: "Bloomberg TV",
          link: "https://www.bloomberg.com/news/videos/2017-12-06/kenetic-s-chu-sees-bitcoin-at-50k-by-end-of-2018-video",
          desc: "Kenetic's Chu Sees Bitcoin at $50,000 by End of 2018",
          date: "6-Dec-2017"
      },
      {
          title: "Asia Tech Podcast",
          link: "http://www.asiatechpodcast.com/jason-goldberg-simple-token/",
          desc: "Jason Goldberg – Director, OpenST Foundation. Founder and CEO at Simple Token. Founder and CEO at Pepo",
          date: "4-Dec-2017"
      },
      {
          title: "Total Retail",
          link: "http://www.mytotalretail.com/article/blockchain-is-here-retail-needs-get-aboard-or-sink",
          desc: 'Blockchain is Here: Retail Needs to Get Aboard … or Sink',
          date: "4-Dec-2017"
      },
      {
          title: "ICO Coin",
          link: "https://www.youtube.com/watch?v=W6AH5lHKLA8",
          desc: 'ICO Simple Token Hướng dẫn đăng ký KYC và cách mua ST token',
          date: "30-Nov-2017"
      },
      {
          title: "OhHeyMatty (YouTube)",
          link: "https://www.youtube.com/watch?v=AOHAF-c8dck",
          desc: 'Crypto ICO Weekly Update - Review Of The Top ICOs In Todays Market',
          date: "29-Nov-2017"
      },
      {
          title: "CRYPTO KING (YouTube)",
          desc: 'Simple Token ICO is LIVE. **1 Day Remaining**',
          date: "29-Nov-2017"
      },
      {
          title: "Cryptocurrency Talk",
          link: "https://cryptocurrencytalk.com/video/view/20863-is-simple-token-the-next-amazon-web-services-aws-my-top-three-icos-ahfrickin/",
          desc: "'IS SIMPLE TOKEN THE NEXT AMAZON WEB SERVICES (AWS)? MY TOP THREE ICO'S! | AHFRICKIN'",
          date: "29-Nov-2017"
      },
      {
          title: "ArkEcosystem",
          link: "https://www.reddit.com/r/ArkEcosystem/comments/7gggkw/log_of_ama_with_simple_token_jason_goldberg_jason/",
          desc: "AMA with Simple Token - Jason Goldberg and Benjamin Bollen (Archived)",
          date: "29-Nov-2017"
      },
      {
          title: "The Next Web",
          link: "https://thenextweb.com/money/2017/11/28/simple-token-ico-picks-up-over-85-percent-of-target-in-6-days/",
          desc: "Simple Token ICO picks up 125 percent of target in 12 days",
          date: "28-Nov-2017"
      },
      {
          title: "Marqus Zar (YouTube)",
          link: "https://www.youtube.com/watch?v=sdpOhss7784",
          desc: "Simple Token (ST) - What Is Simple Token ICO",
          date: "25-Nov-2017"
      },
      {
          title: "1000BTC CLUB (Vietnam)",
          link: "https://www.youtube.com/watch?v=ihymPID5fSE",
          desc: "ICO Simple Token - Hướng dẫn đăng ký KYC và cách mua ST token",
          date: "25-Nov-2017"
      },
      {
          title: "Daily Crypto",
          link: "https://dailycrypto.io/2017/11/25/guest-jason-goldberg-ceo-of-simple-token/",
          desc: "GUEST: Jason Goldberg, CEO of Simple Token",
          date: "25-Nov-2017"
      },
      {
          title: "Coin Bloq (YouTube)",
          link: "https://www.youtube.com/watch?v=2v5wU3nfDjc",
          desc: "ICO Review: WaBi, Simple Token, UTtoken, Pundi X, Nitro, FundRequest",
          date: "21-Nov-2017"
      },
      {
          title: "The Cryptonomatron (YouTube)",
          link: "https://www.youtube.com/watch?v=GnTUuKs6C7s",
          desc: "SIMPLE TOKEN ICO Review! Cryptocurrency to Power Digital Communities! ST",
          date: "21-Nov-2017"
      },
      {
          title: "The Bitcoin Podcast",
          link: "https://thebitcoinpodcast.com/announcements-simple-token/",
          desc: "Announcements: Simple Token",
          date: "20-Nov-2017"
      },
      {
          title: "Coindesk",
          link: "https://www.coindesk.com/ico-presales-boost-vc-3iq-multicoin/",
          desc: "Even Investors with Access Want ICO Presale Reform",
          date: "19-Nov-2017"
      },
      {
          title: "Ian Balina (YouTube)",
          link: "https://www.youtube.com/watch?v=QPBQV34lKfo",
          desc: "Simple Token ICO Live Stream AMA w/Jason Goldberg",
          date: "17-Nov-2017"
      },
      {
          title: "Cryptocurrency Talk",
          link: "https://cryptocurrencytalk.com/video/view/10632-simple-token-ico-live-stream-ama-wjason-goldberg/",
          desc: "SIMPLE TOKEN ICO LIVE STREAM AMA W/JASON GOLDBERG",
          date: "17-Nov-2017"
      },
      {
          title: "The Block (UK)",
          link: "https://www.blockchaintechnology-news.com/2017/11/17/case-study-bridging-the-gap-between-blockchain-and-consumer-with-simple-token/",
          desc: "Case Study: Simple Token look to bridge the gap between blockchain and consumer",
          date: "17-Nov-2017"
      },
      {
          title: "Cafe Bitcoin (Vietnam)",
          link: "https://cafebitcoin.vn/phan-tich-ico-simple-token",
          desc: "Phân tích ICO: Simple Token",
          date: "16-Nov-2017"
      },
      {
          title: "Hardware Lab (Korea)",
          link: "http://www.hwlab.com/news.php?code=29311",
          desc: "심플 토큰, 11월 14일 공식 토큰 판매 론칭",
          date: "15-Nov-2017"
      },
      {
          title: "wickedlycrypto (YouTube)",
          link: "https://www.youtube.com/watch?v=YZOdNj9MJFk",
          desc: "Simple Token ICO",
          date: "15-Nov-2017"
      },
      {
          title: "Happy Money Man (YouTube)",
          link: "https://www.youtube.com/watch?v=-tUQbTaTLVM",
          desc: "Simple Token ICO - When Moon? Know Before The Crowd - Why Simple Token Is Special",
          date: "15-Nov-2017"
      },
      {
          title: "Ronatory (Blog)",
          link: "https://ronatory.wordpress.com/2017/11/15/why-i-invest-in-bitcoin-and-other-cryptocurrencies/",
          desc: "WHY I INVEST IN BITCOIN AND OTHER CRYPTOCURRENCIES",
          date: "15-Nov-2017"
      },
      {
          title: "Wallet Weekly",
          link: "https://www.walletweekly.com/simple-token-ico/",
          desc: "5 Things to Know About Simple Token, Including Its ICO",
          date: "15-Nov-2017"
      },
      {
          title: "ICO Drops",
          link: "https://icodrops.com/simple-token/",
          desc: "Simple Token (analysis)",
          date: "15-Nov-2017"
      },
      {
          title: "Concourse​Q",
          link: "https://concourseq.io/Q/Simple%20Token",
          desc: "Simple Token (listing and analysis)",
          date: "15-Nov-2017"
      },
      {
          title: "Acrofan (Korea)​Q",
          link: "http://kr.acrofan.com/detail.php?number=73286",
          desc: "심플 토큰, 11월 14일 공식 토큰 판매 론칭",
          date: "14-Nov-2017"
      },
      {
          title: "News Tap (Korea)",
          link: "http://www.newstap.co.kr/news/articleView.html?idxno=61950",
          desc: "심플 토큰, 11월 14일 공식 토큰 판매 론칭",
          date: "14-Nov-2017"
      },
      {
          title: "KiNews (Korea)",
          link: "http://www.kinews.net/news/articleView.html?idxno=113437",
          desc: "심플 토큰, 14일 공식 토큰 판매 시작",
          date: "14-Nov-2017"
      },
      {
          title: "BrainBox (Korea)",
          link: "http://www.brainbox.co.kr/bbs/board.php?bo_table=news&wr_id=46892",
          desc: "심플 토큰 11월 14일 공식 토큰 판매 론칭",
          date: "14-Nov-2017"
      },
      {
          title: "Ian Balina (YouTube)",
          link: "https://www.youtube.com/watch?v=YUY0D6mtbAQ",
          desc: "Simple Token ICO Review - Token To Power Your Business",
          date: "14-Nov-2017"
      },
      {
          title: "The Merkle",
          link: "https://themerkle.com/simple-token-altdrop-will-pay-investors-and-early-adopters-in-any-erc20-token-of-their-choice/",
          desc: "Simple Token Altdrop Will Pay Investors and Early Adopters in any ERC20 Token of their Choice",
          date: "14-Nov-2017"
      },
      {
          title: "Gründerszene (Germany)",
          link: "https://www.gruenderszene.de/allgemein/jason-goldberg-fab-hem-simple-token-ico",
          desc: "Former Fab CEO Jason Goldberg launches ICO",
          date: "14-Nov-2017"
      },
      {
          title: "Cryptovest",
          link: "https://cryptovest.com/news/interviews/cryptovest-exclusive-jason-goldberg-founder--ceo-of-simple-token-talks-about-the-project-and-its-upcoming-token-sale/",
          desc: "Cryptovest Exclusive: Jason Goldberg, Founder & CEO of Simple Token, Talks About the Project and its Upcoming Token Sale",
          date: "13-Nov-2017"
      },
      {
          title: "am730 (Hong Kong)",
          link: "https://www.am730.com.hk/column/%E8%B2%A1%E7%B6%93/ico%E9%BB%9E%E6%AD%A2%E4%BF%82%E7%9C%BE%E7%B1%8C%E5%92%81%E7%B0%A1%E5%96%AE-103362",
          desc: "ICO點止係眾籌咁簡單",
          date: "13-Nov-2017"
      },
      {
          title: "Economics 3.0 (Facebook, Hong Kong)",
          link: "https://www.facebook.com/notes/%E7%B6%93%E6%BF%9F-30/ico%E9%BB%9E%E6%AD%A2%E4%BF%82%E7%9C%BE%E7%B1%8C%E5%92%81%E7%B0%A1%E5%96%AE/897499850400376/",
          desc: "ICO點止係眾籌咁簡單",
          date: "13-Nov-2017"
      },
      {
          title: "Diary of a Made Man (YouTube)",
          link: "https://www.youtube.com/watch?v=MvzJr7XHQlA",
          desc: "ICO Live Stream - Simple Token, Oracle Network, Wax Token, Bloom, Metronome",
          date: "11-Nov-2017"
      },
      {
          title: "Hacked",
          link: "https://hacked.com/ico-analysis-simple-token",
          desc: "ICO Analysis: Simple Token",
          date: "10-Nov-2017"
      },
      {
          title: "Hong Kong Economic Journal (Hong Kong)",
          link: "http://www1.hkej.com/dailynews/investment/article/1695471/%E5%8A%A0%E5%AF%86%E8%B2%A8%E5%B9%A3%E9%83%BD%E6%98%AF%E6%8A%95%E6%A9%9F%E5%A4%A7%E6%B3%A1%E6%B2%AB?",
          desc: "加密貨幣都是投機大泡沫?",
          date: "7-Nov-2017"
      },
      {
          title: "Meme HK (Hong Kong)",
          link: "http://news.memehk.com/posts/18866",
          desc: "加密貨幣都是投機大泡沫? | 曾國平@經濟3.0",
          date: "7-Nov-2017"
      },
      {
          title: "Economics 3.0 (Facebook, Hong Kong)",
          link: "https://www.facebook.com/notes/%E7%B6%93%E6%BF%9F-30/%E5%8A%A0%E5%AF%86%E8%B2%A8%E5%B9%A3%E9%83%BD%E6%98%AF%E6%8A%95%E6%A9%9F%E5%A4%A7%E6%B3%A1%E6%B2%AB/893876907429337/",
          desc: "加密貨幣都是投機大泡沫?",
          date: "7-Nov-2017"
      },
      {
          title: "Blockchain News",
          link: "http://www.the-blockchain.com/2017/11/03/simple-token-announces-first-four-member-companies-launch-branded-tokens-projects-ecosystem/",
          desc: "Simple Token Announces First Four Member Companies – To Launch Branded Tokens on Project’s Ecosystem",
          date: "3-Nov-2017"
      },
      {
          title: "Ether in the News",
          link: "http://etherinthenews.com/2017/11/03/simple-token-announces-advisory-board-token-sale-milestones/",
          desc: "Simple Token Announces Advisory Board, Token Sale Milestones ",
          date: "3-Nov-2017"
      },
      {
          title: "Coinspeaker",
          link: "https://www.coinspeaker.com/2017/11/03/simple-token-empowering-developers-get-blockchain/",
          desc: "Simple Token Empowering Developers to Get on the Blockchain Tech",
          date: "3-Nov-2017"
      },
      {
          title: "Blockchain News",
          link: "http://www.the-blockchain.com/2017/11/03/simple-token-announces-advisory-board-token-sale-milestones/",
          desc: "Simple Token Announces Advisory Board, Token Sale Milestones",
          date: "3-Nov-2017"
      },
      {
          title: "Medium - Cody McCauley",
          link: "https://medium.com/@codymcc4/simple-token-bridging-consumer-applications-to-the-blockchain-baff737aa226",
          desc: "Simple Token: Bridging Consumer Applications to the Blockchain",
          date: "2-Nov-2017"
      },
      {
          title: "BTC Manager",
          link: "https://btcmanager.com/building-bridge-cryptocurrencies-main-street/",
          desc: "Building a Bridge Between Cryptocurrencies and Main Street",
          date: "2-Nov-2017"
      },
      {
          title: "Hacker Noon - Jason Goldberg",
          link: "https://hackernoon.com/top-10-cringiest-things-ive-been-told-during-the-ico-process-thus-far-a78e60927042",
          desc: "Top 10 Cringiest Things I’ve Been Told During the ICO Process (thus far)",
          date: "2-Nov-2017"
      },
      {
          title: "Product Hunt",
          link: "https://www.producthunt.com/posts/simple-token",
          desc: "Simple Token - Launch your own branded crypto token without the ICO drama",
          date: "2-Nov-2017"
      },
      {
          title: "Hardware Lab (Korea)",
          link: "http://www.hwlab.com/news.php?code=29268",
          desc: "Simple Token, Finalizes Token Sale Price and Announces Global Advisors",
          date: "2-Nov-2017"
      },
      {
          title: "VentureBeat",
          link: "https://venturebeat.com/2017/10/31/take-off-your-bitcoin-blinders-theres-no-right-way-to-use-blockchain/",
          desc: "Take off your Bitcoin blinders: There’s no ‘right way’ to use blockchain",
          date: "1-Nov-2017"
      },
      {
          title: "Interface News (Korea)",
          link: "http://www.internews.kr/news/articleView.html?idxno=11903",
          desc: "Simple Token Finalizes Token Sale Price… Announces Global Advisors",
          date: "31-Oct-2017"
      },
      {
          title: "Hacker Noon - Jason Goldberg",
          link: "https://hackernoon.com/so-you-want-to-have-a-utility-token-sale-part-i-of-many-the-registration-kyc-process-a3ef6f35f0a8",
          desc: "So you want to have a utility token sale… (part I of many: the Registration & KYC process)",
          date: "31-Oct-2017"
      },
      {
          title: "Smith + Crown",
          link: "https://www.smithandcrown.com/sale/simple-token/",
          desc: "Simple Token: A Token Issuance Infrastructure for Consumer Apps",
          date: "31-Oct-2017"
      },
      {
          title: "Chipin ",
          link: "https://www.chipin.com/simple-token-blockchain-app-tokens/",
          desc: "Simple Token Takes the Headache out of Blockchain Tokenization",
          date: "31-Oct-2017"
      },
      {
          title: "It’s Blockchain ",
          link: "https://itsblockchain.com/simpletoken/",
          desc: "Simple Token is building Blockchain and Cryptocurrency as a Service",
          date: "28-Oct-2017"
      },
      {
          title: "Blockchain Reviews",
          link: "http://blockchainreviews.info/simple-token-review/",
          desc: "Simple Token assessment",
          date: "25-Oct-2017"
      },
      {
          title: "Epicenter (YouTube)",
          link: "https://www.youtube.com/watch?v=c8swtDtappM&t=2s",
          desc: "#204 Ben Bollen & Jason Goldberg: Simple Token - Bringing Tokens to Mainstream Consumer Applications",
          date: "11-Oct-2017"
      },
      {
          title: "Yahoo! Finance",
          link: "https://finance.yahoo.com/video/bitcoin-may-stiff-competition-142955745.html%EF%BB%BF",
          desc: "Bitcoin may be in for some stiff competition",
          date: "6-Oct-2017"
      },
      {
          title: "This Week in Startups",
          link: "http://thisweekinstartups.com/jason-goldberg-pepo-simple-token/",
          desc: "E767: Jason Goldberg (Pepo, Fab.com) intros Simple Token for apps to launch branded crytpo tokens",
          date: "3-Oct-2017"
      },
      {
          title: "Block Tribune",
          link: "http://blocktribune.com/simple-tokens-aims-keep-tokening-simple-ico-soon/",
          desc: "Simple Tokens Aims To Keep Tokening Simple – ICO Soon",
          date: "2-Oct-2017"
      },
      {
          title: "Token Economy",
          link: "https://tokeneconomy.co/token-economy-16-interactive-coin-offerings-valuations-0x-regulators-ad6722f99d38",
          desc: "Token Economy #16: Interactive Coin Offerings, Valuations, 0x, Regulators",
          date: "1-Oct-2017"
      },
      {
          title: "World Blockchain Forum (London, on-stage presentation)",
          link: "https://www.youtube.com/watch?v=joXlimgSMdg",
          desc: "Simple Token - World Blockchain Forum",
          date: "25-Sep-2017"
      },
      {
          header: "Press Releases",
          title: "Simple Token Public Token Sale Closes After Major Success",
          link: "https://www.prnewswire.com/news-releases/simple-token-public-token-sale-closes-after-major-success-300567387.html?tc=eml_cleartime",
          desc: "Utility Token Sale Surpasses Expectations at 189 Percent of ICO Target",
          date: "6-Dec-2017"
      },
      {
          title: "Public Token Sale Launch",
          link: "https://www.prnewswire.com/news-releases/simple-token-to-launch-public-token-sale-november-14-300554187.html",
          desc: "Simple Token to Launch Public Token Sale November 14",
          date: "13-Nov-2017"
      },
      {
          title: "First 4 Member Companies Announced",
          link: "https://docs.google.com/document/d/1XhlZpGqhB1ZWyXvNr295ueclkqSqWc_r3b4Esp3Gc3I/edit?usp=sharing",
          desc: "Simple Token Announces First Four Member Companies To Launch Branded Tokens on Project’s Ecosystem",
          date: "31-Oct-2017"
      },
      {
          title: "Final Sale Price Released",
          link: "https://www.prnewswire.com/news-releases/simple-token-finalizes-token-sale-price-and-announces-dream-team-of-global-advisors-300544542.html",
          desc: 'Simple Token Finalizes Token Sale Price and Announces "Dream Team" of Global Advisors',
          date: "26-Oct-2017"
      },
  ]
%>

<div class="container container-text-page container-documents">
  <div class="row">
    <div class="content">
      <h2 class="mt-4 mb-2">News</h2>
      <% press_release.each_with_index do | data, index | %>
        <h5 class="mt-4 pt-2">
          <% if data[:header].present? %>
            <div><%= raw data[:header] %></div>
          <% end %>
          <a href="<%= data[:link] %>" target="_blank"><%=data[:title] %>&nbsp;<span class="download-icon-small" style="vertical-align: bottom"></span></a>
        </h5>
        <p><%= data[:desc] %></p>
        <span><%= data[:date] %></span>
        <hr class="mt-2"  style="border-bottom: 1px solid #91c0ad;"/>
      <% end %>
    </div>
  </div>
</div>

<%= render :partial => "/shared/web/common/index_svg_sprite" %>