<%= render :partial => "/shared/web/common/navbar" %>
<div class="container-partners container-press">
  <%= render :partial => "/web/ost/new-partners/jumbotron" %>
  <%= render :partial => "/web/ost/new-partners/partners_updates", locals: {title: ''}  %>
</div>
<%= render :partial => "/web/ost/new-partners/member_companies" %>
<%= render :partial => "/web/ost/new-partners/contact_us" %>