<div class="cyna_heading">
  <%= render :partial => "/shared/web/common/navbarsubmenu" %>
  <%= render :partial => "/web/ost/team/about_head" %>
  <%= render :partial => "/shared/web/common/navigation_nav" , :locals => {:content => [{ :href => "#team", :title => "Team Members", :class => "nav-item col-3 col-sm-3" },
                                                                              {:href => "#advisors", :title => "Advisors Team", :class => "nav-item col-3 col-sm-3"},
                                                                              {:href => "#extendedTeam", :title => "Extended Team",  :class => "nav-item col-3 col-sm-3" } ,
                                                                              {:href => "#equityInvestors", :title => "Equity Investors", :class => "nav-item col-3 col-sm-3"}]

                                                                 } %>
  <%= render :partial => "/web/ost/team/team" %>
  <%= render :partial => "/web/ost/team/work_with_us" %>
  <%#= render :partial => "/web/ost/team/board_directors" %>
  <%= render :partial => "/web/ost/team/advisors" %>
  <%= render :partial => "/web/ost/team/extended_team" %>
  <%= render :partial => "/web/ost/team/early_backers" %>
  <%= render :partial => "/web/ost/team/security_auditors" %>
</div>