<div class="events-container" id="events">
  <div class="py-5">
    <div class="container ">

      <h3 class="text-center font-weight-normal">
        OST Events
      </h3>
    </div>
  </div>

    <div class="container">
      <div class="d-block d-md-none">

      </div>
      <div class="row">
      <%
        events = (@dynamic_content.data[GlobalConstant::StaticContentFileName.ost_events]['api_response'] || []) rescue []

        ost_event_filtered = []
        max_count = 8
        count = 0
        current_event_index = 0
        events.sort_by! { |k| k["event_date"] }

        last_event = events[events.length-1]
        current_display_month = Time.now.month
        current_display_year = Time.now.year
        last_event_month = Time.at(last_event["event_date"].to_i).to_datetime.month
        last_event_year  = Time.at(last_event["event_date"].to_i).to_datetime.year
        if (Time.now.year === last_event_year && Time.now.month > last_event_month) || (Time.now.year > last_event_year)
          current_display_month = last_event_month
          current_display_year  = last_event_year
        end

        events.each_with_index do |item, index |
          current_month = Time.at(item["event_date"].to_i).to_datetime.month
          current_year = Time.at(item["event_date"].to_i).to_datetime.year
          if current_month == current_display_month && current_year == current_display_year
            ost_event_filtered.push(item)
            count = count + 1
            if(count === 1)
              current_event_index = index
            end
          end
        end

        if ost_event_filtered.empty?
          events.each_with_index do |item, index |
            current_month = Time.at(item["event_date"].to_i).to_datetime.month
            current_year = Time.at(item["event_date"].to_i).to_datetime.year
            if current_month > current_display_month && current_year >= current_display_year
              current_event_index = index
              break;
            end
          end
        end
        event_deficit = max_count - count
        previous_events = events[0...current_event_index]
        if event_deficit > previous_events.length
          ost_event_filtered.unshift(*previous_events)
        else
          previous_events = events[current_event_index-event_deficit...current_event_index]
          ost_event_filtered.unshift(*previous_events)
        end
        ost_event_filtered=ost_event_filtered.reverse
      if events.present?
      %>
        <div class="col-md-7 order-2 order-md-1">
          <div class="static-events">
            <% ost_event_filtered.each_with_index do |item,index|%>
              <% date = Time.at(item['event_date'].to_i).utc %>

              <div class="outer-wrapper">
                <a  data-toggle="popover" data-container="body"  class="bookmark-wrapper" data-html="true" data-placement="bottom">
                  <svg width="24" height="35" class="bookmark-icon">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bookmark"></use>
                    </switch>
                  </svg>
                </a>
                <div class="d-none calendar-list" >
                  <div class="calendar-buttons  row ">
                    <button type="button" class="apple-btn btn btn-light text-left col-12"
                            data-subject="<%=item['event_name']%>"
                            data-desc="<%=item['event_desc']%>"
                            data-location="<%=item['event_desc']%>"
                            data-begin="<%= date.strftime("%m/%d/%Y")%>"
                            data-end="<%= date.next_day().strftime("%m/%d/%Y")%>"
                            data-filename="OST Events1"
                            data-extension=".ics">
                      <small > add to </small><br>Apple Calendar
                    </button>
                    <a  class="google-btn btn btn-light text-left mt-2 col-12"
                        href="https://calendar.google.com/calendar/r/eventedit?text=<%=item['event_name']%>&dates=<%= date.strftime("%Y%m%d")%>/<%= date.next_day().strftime("%Y%m%d")%>&details=<%=item['event_desc']%>&location=<%=item['event_desc']%>"
                        target="_blank" rel="nofollow">
                      <small > add to </small><br>Google Calendar</a>

                  </div>
                </div>

                <div class="event-content-wrapper mb-4">
                  <a href="<%= item['event_link'] %>" target="_blank" class="d-block" title="<%= item['event_name'] %>">
                    <div class="row media content-wrapper pl-3 align-items-center">
                      <div class="col-2 eventIconEl">
                        <svg class="event-icons">
                          <switch>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<%=item['event_icon'] %>"></use>
                          </switch>
                        </svg>
                      </div>
                      <div class="col-10 media-body content-body">
                        <div class="heading"><%= date.strftime("%d %b %Y")%></div>
                        <p class="event-desc"><%=item['event_name']%>  <%= item['event_desc'] %></p>
                        <p class="event-location mt-2"><%=item['event_desc']%></p>
                      </div>

                    </div>
                  </a>
                </div>
              </div>
            <%end%>
          </div>
          <div class="row dynamic-events-section"></div>
          <div class="no-events-wrapper text-center position-relative">
            <svg width="721px" height="501px">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#no-events-background"></use>
              </switch>
            </svg>
            <div class="position-absolute w-100 no-events-info">
              <div class="no-events-info-variation">We are very sorry.</div>
              <div>There are no events on this date.</div>
              <div>Check back later, or select other dates.</div>
            </div>
          </div>
        </div>
        <div class="col-md-5 pb-5 pl-md-5 mx-3 mx-md-0 order-1 order-md-2 events-date-section">
          <div class="row events-date-section-content pl-lg-5">
            <div class="col-12 h-100 p-3 date-section-background">
              <div class="row">
                <div class="show-calendar col-6 d-md-none py-2 pr-0 pl-3">
                  <svg style="vertical-align: middle;" width=20px height="30px">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#show-calendar"></use>
                    </switch>
                  </svg>
                  <span class="text-uppercase">Show calendar</span>
                </div>
                <div class="hide-calendar col-6 d-md-none py-2 pr-0 pl-3">
                  <svg style="vertical-align: middle;" width=20px height="30px">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#hide-calendar"></use>
                    </switch>
                  </svg>
                  <span class="text-uppercase">Hide calendar</span>
                </div>
                <div class="clear-selection text-uppercase col-6 col-md-12 text-right p-2 pr-3">
                  <svg width=10px height="10px">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
                    </switch>
                  </svg>
                  <span class="text-uppercase">Clear Selection</span>
                </div>
              </div>
              <div>
                <div class="events-date-picker"/>
              </div>
            </div>
          </div>
        </div>
          </div>
      <%end%>

  </div>

</div>

<% content_for :end_js do %>
  <script id="events_template" type="text/x-handlebars-template">
        {{#ifEvent event_link}}
          <%= render :partial => "/web/ost/events_news/events_content" %>
        {{else}}
        <%= render :partial => "/web/ost/events_news/events_content" %>
        {{/ifEvent}}
  </script>
  <script type="text/javascript">
    $(function () {
      Handlebars.registerHelper('ifEvent', function( link, options ) {
        if( link ){
          return options.fn(this);
        } else {
          return options.inverse(this);
        }
      });

      Handlebars.registerHelper("prettifyDate", function(timestamp) {
        return new Date(parseInt(timestamp)*1000).toLocaleDateString('en-GB', {
          day : '2-digit',
          month : 'short',
          year : 'numeric'
        });
      });

      Handlebars.registerHelper("ymdDate", function(timestamp) {
        var d = new Date(timestamp*1000);
        var year = ''+d.getFullYear();
        var month = ''+(d.getMonth()+1);
        if(d.getMonth()+1 <=9){
          month = '0'+month;
        }

        var startDate = ''+(d.getDate());
        if(d.getDate() <=9){
          startDate = '0'+startDate;
        }
        var endDate = ''+(d.getDate()+1);
        if(d.getDate() <=9){
          endDate = '0'+endDate;
        }
        return year+month+startDate+'/'+year+month+endDate;
      });

      Handlebars.registerHelper("mdyDate", function(timestamp) {
        var d = new Date(timestamp*1000);
        var year = ''+d.getFullYear();
        var month = ''+(d.getMonth()+1);
        if(d.getMonth()+1 <=9){
          month = '0'+month;
        }

        var startDate = ''+(d.getDate());
        if(d.getDate() <=9){
          startDate = '0'+startDate;
        }
        return month+"/"+startDate+"/"+year;
      });

      ost.events.init({
        'eventsList': <%= raw events.to_json %>
      });

    });
  </script>

<%end%>
