<div class="events-container" id="events">
  <div class="row my-5">
    <div class="container ">

      <h3 class="text-center">
        <svg class="ost-events-logo">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-events-logo"></use>
          </switch>
        </svg>
      </h3>
    </div>
  </div>

    <div class="container">
      <div class="d-block d-md-none">

      </div>
      <div class="row">
      <%
        # events = (@dynamic_content.data[GlobalConstant::StaticContentFileName.ost_events]['api_response'] || []) rescue []

        # To be removed- used only for testing
        events = [{"event_name"=>"OST LIVE", "event_desc"=>"Guest: Ben Chan", "event_icon"=>"events-podcast-icon", "event_date"=>"1540944000", "event_link"=>"https://www.youtube.com/ostdotcom"}, {"event_name"=>"OST LIVE", "event_desc"=>"Guest: Trent McConaghy", "event_icon"=>"events-podcast-icon", "event_date"=>"1539734400", "event_link"=>"https://www.youtube.com/ostdotcom"}, {"event_name"=>"OST LIVE", "event_desc"=>"Project Update", "event_icon"=>"events-podcast-icon", "event_date"=>"1538697600", "event_link"=>"https://www.youtube.com/ostdotcom"}, {"event_name"=>"OST LIVE", "event_desc"=>"Guest: Keld van Schreven", "event_icon"=>"events-podcast-icon", "event_date"=>"1538524800", "event_link"=>"https://www.youtube.com/ostdotcom"}, {"event_name"=>"OST LIVE", "event_desc"=>"Guest: Sean Au", "event_icon"=>"events-podcast-icon", "event_date"=>"1538092800", "event_link"=>"https://www.youtube.com/ostdotcom"}, {"event_name"=>"OST at Web3 Summit", "event_desc"=>"Berlin", "event_icon"=>"events-event-icon", "event_date"=>"1540166400", "event_link"=>"https://web3summit.com/"}, {"event_name"=>"OST at Fellowship of Ethereum Magicians", "event_desc"=>"Prague", "event_icon"=>"events-event-icon", "event_date"=>"1540684800", "event_link"=>"https://www.picatic.com/ethmagicians-prague-2018"},{"event_name"=>"OST at DevCon 4", "event_desc"=>"Prague", "event_icon"=>"events-event-icon", "event_date"=>"1543751498", "event_link"=>"https://devcon4.ethereum.org/"}, {"event_name"=>"OST at DevCon 4", "event_desc"=>"Prague", "event_icon"=>"events-event-icon", "event_date"=>"1543751498", "event_link"=>"https://devcon4.ethereum.org/"}, {"event_name"=>"OST at DevCon 4", "event_desc"=>"Prague", "event_icon"=>"events-event-icon", "event_date"=>"1543751498", "event_link"=>"https://devcon4.ethereum.org/"}, {"event_name"=>"OST at DevCon 4", "event_desc"=>"Prague", "event_icon"=>"events-event-icon", "event_date"=>"1543751498", "event_link"=>"https://devcon4.ethereum.org/"}, {"event_name"=>"OST at DevCon 4", "event_desc"=>"Prague", "event_icon"=>"events-event-icon", "event_date"=>"1543751498", "event_link"=>"https://devcon4.ethereum.org/"},{"event_name"=>"OST at DevCon 4", "event_desc"=>"Prague", "event_icon"=>"events-event-icon", "event_date"=>"1543751498", "event_link"=>"https://devcon4.ethereum.org/"}, {"event_name"=>"OST at DevCon 4", "event_desc"=>"Prague", "event_icon"=>"events-event-icon", "event_date"=>"1542973898", "event_link"=>"https://devcon4.ethereum.org/"}, {"event_name"=>"OST at DevCon 4", "event_desc"=>"Prague", "event_icon"=>"events-event-icon", "event_date"=>"1542973898", "event_link"=>"https://devcon4.ethereum.org/"}, {"event_name"=>"OST at DevCon 4", "event_desc"=>"Prague", "event_icon"=>"events-event-icon", "event_date"=>"1540857600", "event_link"=>"https://devcon4.ethereum.org/"}]
        ost_event_filtered = []
        events.sort_by! { |k| k["event_date"] }
        events.each_with_index do |item, index |
          if Time.at(item["event_date"].to_i).to_datetime.month == (Time.now.month)
              ost_event_filtered.push(item)
          end
        end
        if events.present?
      %>
        <div class="col-md-7 order-2 order-md-1">
          <div class="static-events">
            <% ost_event_filtered.each_with_index do |item,index|%>
              <% date = Time.at(item['event_date'].to_i).utc %>

              <div class="outer-wrapper">
                <a  data-toggle="popover" data-container="body"  class="bookmark-wrapper" data-html="true" data-placement="bottom">
                  <svg width="24" height="35" class="bookmark-icon">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bookmark"></use>
                    </switch>
                  </svg>
                </a>
                <div id = "calendar-list" class="d-none" >
                  <div class="calendar-buttons  row ">
                    <a  class="apple-btn btn btn-light text-left col-12"
                        href=""
                        target="_blank">
                      <small > add to </small><br>Apple Calendar</a>
                    <a  class="google-btn btn btn-light text-left mt-2 col-12"
                       href="https://calendar.google.com/calendar/r/eventedit?
text=<%=item['event_name']%>&
dates=<%= date.strftime("%Y%m%d")%>/<%= date.next_day().strftime("%Y%m%d")%>&
details=<%=item['event_desc']%>&
location=<%=item['event_desc']%>
"
                        target="_blank" rel="nofollow">
                      <small > add to </small><br>Google Calendar</a>

                  </div>
                </div>

                <div class="event-content-wrapper mb-5">
                  <a href="<%= item['event_link'] %>" target="_blank" class="d-block" title="<%= item['event_name'] %>">
                    <div class="media content-wrapper align-items-center">
                      <span class="dateEl">
                        <svg width="90%" height="60" class="event-icons">
                          <switch>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<%=item['event_icon'] %>"></use>
                          </switch>
                        </svg>
                      </span>
                      <div class="media-body content-body">
                        <div class="heading"><%= date.strftime("%d %b %Y")%></div>
                        <p class="event-desc"><%=item['event_name']%>  <%= item['event_desc'] %></p>
                        <p class="event-location mt-2"><%=item['event_desc']%></p>
                      </div>

                    </div>
                  </a>
                </div>
              </div>
            <%end%>
          </div>
          <div class="row dynamic-events-section"></div>
          <div class="no-events-wrapper text-center">
            <svg>
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#no-events-background"></use>
              </switch>
            </svg>
          </div>
        </div>
        <div class="col-md-5 pb-5 pl-md-5 order-1 order-md-2 events-date-section">
          <div class="row events-date-section-content pl-lg-5">
            <div class="col-12 h-100 p-3 date-section-background">
              <div class="row">
                <div class="show-calendar col-6 d-md-none p-2 pl-3">Show calendar</div>
                <div class="hide-calendar col-6 d-md-none p-2 pl-3">hide calendar</div>
                <div class="clear-selection col-6 col-md-12 text-right p-2 pr-3">Clear Selection</div>
              </div>
              <div>
                <div class="events-date-picker"/>
              </div>
            </div>
          </div>
        </div>
          </div>
      <%end%>

  </div>

</div>

<% content_for :end_js do %>
  <script id="events_template" type="text/x-handlebars-template">
        {{#ifEvent event_link}}
          <%= render :partial => "/web/ost/events_news/events_content" %>
        {{else}}
        <%= render :partial => "/web/ost/events_news/events_content" %>
        {{/ifEvent}}
  </script>
  <script type="text/javascript">
    $(function () {
      Handlebars.registerHelper('ifEvent', function( link, options ) {
        if( link ){
          return options.fn(this);
        } else {
          return options.inverse(this);
        }
      });

      Handlebars.registerHelper("prettifyDate", function(timestamp) {
        return new Date(parseInt(timestamp)*1000).toLocaleDateString('en-GB', {
          day : 'numeric',
          month : 'short',
          year : 'numeric'
        });
      });

      Handlebars.registerHelper("ymdDate", function(timestamp) {
        var d = new Date(timestamp*1000);
        var year = ''+d.getFullYear();
        var month = ''+(d.getMonth()+1);
        if(d.getMonth()+1 <=9){
          month = '0'+month;
        }

        var startDate = ''+(d.getDate());
        if(d.getDate() <=9){
          startDate = '0'+startDate;
        }
        var endDate = ''+(d.getDate()+1);
        if(d.getDate() <=9){
          endDate = '0'+endDate;
        }
        return year+month+startDate+'/'+year+month+endDate;
      });

      ost.events.init({
        'eventsList': <%= raw events.to_json %>
      });

    });
  </script>

<%end%>
