<div class="row my-5" id="news">
  <div class="container">
    <h3 class="pl-4 pl-md-2">
      <svg class="ost-news-logo">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-news-logo"></use>
        </switch>
      </svg>
    </h3>
    <div class="news-container mt-3">
      <%
        news = (@dynamic_content.data[GlobalConstant::StaticContentFileName.ost_news]['api_response'] || []) rescue []
        if news.present?
      %>
        <div class="row px-3 px-md-0">
          <% news[0..8].each_with_index do|item, index| %>
            <div class="col-12 col-md-4 py-2 py-md-3">
              <div class="content-wrapper">
                <%if news[index]['news_list_link_type'] == 'article-link' %>
                  <a href= "<%= raw(news[index]['news_list_link']) %>" target="_blank" title="<%=raw(news[index]['news_list_title']) %>">
                    <%= render :partial => "web/ost/index/news_carousel_content", locals: {item: news[index], news_index: index} %>
                  </a>
                <%else%>
                  <%= render :partial => "web/ost/index/news_carousel_content", locals: {item:news[index], news_index: index} %>
                <%end%>
              </div>
            </div>
          <%end%>
        </div>
      <% end %>

      <div class="row px-3 px-md-0 dynamic-news-section"></div>

    </div>


    <script id="news_template" type="text/x-handlebars-template">
      <div class="col-12 col-md-4 py-3">
        <div class="content-wrapper">
          {{#ifArticle news_list_link_type}}
          <a href="{{news_list_link}}" target="_blank" title="{{news_list_title}}">
            <%= render :partial => "/web/ost/events_news/news_content" %>
          </a>
          {{else}}
          <%= render :partial => "/web/ost/events_news/news_content" %>
          {{/ifArticle}}
        </div>
      </div>
    </script>

    <div class="text-center show-more-wrapper">
      <button type="button" class="btn btn-primary my-4 show-more-btn">Show more</button>
    </div>
  </div>
</div>

<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {

      Handlebars.registerHelper('ifVideo', function( link_type, options ) {
        if( link_type == 'video-embed-url'){
          return options.fn(this);
        } else {
          return options.inverse(this);
        }
      });

      Handlebars.registerHelper('ifArticle', function( link_type, options ) {
        if( link_type == 'article-link'){
        return options.fn(this);
        } else {
          return options.inverse(this);
        }
      });

      Handlebars.registerHelper("prettifyDate", function(timestamp) {
        return new Date(parseInt(timestamp)*1000).toLocaleDateString('en-GB', {
          day : 'numeric',
          month : 'short',
          year : 'numeric'
        });
      });


      ost.news.init({
        'newsList': <%= raw news.to_json %>
      });

    });
  </script>

<%end%>