<%
  partner_companies = [
      {
          categories: ["creative-social", "loyalty"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false,
          description_html: 'LGBT Foundation is a charity based in Manchester with a wide portfolio of services. With a history dating back nearly 40 years, it campaigns for a <b>fair and equal society aimed at meeting the needs of lesbian, gay, bisexual and trans people.</b>',
          founders: [
              {
                  name: 'John Shin',
                  title: 'Co-founder'
              },
              {
                  name: 'Adam Wilhelmi',
                  title: 'CFO'
              },
              {
                  name: 'Ada miles',
                  title: 'CDO'
              }
          ],
          location: 'Los Angeles/ California USA',
          website: 'http://www.google.com',
          social: [
              {
                  name: 'twitter',
                  link:"link"

              },
              {
                  name: 'medium',
                  link:"link"
              },
              {
                  name: 'linkedin',
                  link:"link"
              }
          ]
      },
      {
          categories: ["dapps", "marketplaces"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false,
          description_html: 'LGBT Foundation is a charity based in Manchester with a wide portfolio of services. With a history dating back nearly 40 years, it campaigns for a fair and equal society aimed at meeting the needs of lesbian, gay, bisexual and trans people.',
          founders: [
              {
                  name: 'John Shin',
                  title: 'Co-founder'
              },
              {
                  name: 'Adam Wilhelmi',
                  title: 'CFO'
              },
              {
                  name: 'Ada miles',
                  title: 'CDO'
              }
          ],
          location: 'Los Angeles/ California USA',
          website: 'www.google.com',

      },
      {
          categories: ["community", "sharing-economy"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["creative-social", "loyalty"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["dapps", "marketplaces"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["community", "sharing-economy"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["creative-social", "loyalty"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["dapps", "marketplaces"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["community", "sharing-economy"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["creative-social", "loyalty"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["dapps", "marketplaces"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["community", "sharing-economy"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
  ]
%>
<section id="partner-companies" class="container-partner-companies position-relative pt-5" style="overflow:hidden;">
  <div class="ost-backward-triangle dark-blue">
    <div class="container dotted-bg"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="mt-5 pt-4 mb-4 text-center">Partner Companies</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3 mx-auto">

        <div class="row">

          <div class="col-6">
            <div class="form-group">
              <label for="categorySelect" class="filter-style">Category</label>
              <select class="form-control selectpicker" id="categorySelect">
                <option>all</option>
                <option>creative-social</option>
                <option>loyalty</option>
                <option>dapps</option>
                <option>marketplaces</option>
                <option>community</option>
                <option>sharing-economy</option>
              </select>
            </div>
          </div>
          <div class="col-6 border-class">
            <div class="form-group">
              <label for="sizeSelect" class="filter-style">SIZE</label>
              <select class="form-control selectpicker" id="sizeSelect">
                <option>all</option>
                <option>large</option>
                <option>start-ups</option>
              </select>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row mt-5">
      <% partner_companies.each_with_index do|partner, index| %>
        <div class="col-6 col-md-3 p-0 category-all size-all <%= 'category-'+partner[:categories].join(" category-") %> size-<%= partner[:size] %>">

          <div class="border-box">
            <div class="aspect-ratio-box" title="<%= 'category-'+partner[:categories].join(" category-") %> size-<%= partner[:size] %>">
              <span class="aspect-ratio-box-inside"  data-toggle="modal" data-target="#infoModal-<%=index %>" data-partner_companies_index="<%=index %>"></span>
            </div>

          </div>
        </div>

      <% content_for :end_js do %>
        <!-- Modal: infoModal-<%=index %> -->
        <div class="modal fade right modal-company" id="infoModal-<%=index %>">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-2 p-sm-5">
              <div>
                <button type="button" class="close close-btn" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12 col-md-9">
                    <div class="mt-3 mb-2">
                      <img src="" alt="Image not found" >
                    </div>
                    <div class="description">
                      <%= raw partner[:description_html] %>
                    </div>
                  </div>


                  <div class="col-12 col-md-3 details-style">
                    <% if partner[:founders]%>
                    <div class="founders mb-3">
                      <h3 class="text-uppercase details mt-2">Founders</h3>
                      <%  partner[:founders].each_with_index do|founder, index| %>
                      <div class="name "><%= founder[:name] %></div>
                      <div class="title mb-2"><%= founder[:title] %></div>
                      <% end %>

                    </div>
                    <% end %>
                    <% if partner[:location]%>
                    <div class="location mb-3">
                      <h3 class="text-uppercase details mt-2">Location</h3>
                      <div class="address"><%= partner[:location] %></div>
                    </div>
                    <% end %>
                    <% if partner[:categories]%>
                    <div class="industry mb-3">
                      <h3 class="text-uppercase details mt-2">Industry</h3>
                      <div class="industry-value"><%= partner[:categories].join(", ") %></div>
                    </div>
                    <% end %>
                    <% if partner[:size]%>
                    <div class="size mb-3">
                      <h3 class="text-uppercase details mt-2">Size</h3>
                      <div class="size-value"><%= partner[:size] %></div>
                    </div>
                    <% end %>
                    <% if partner[:website]%>
                    <div class="website mb-3">
                      <h3 class="text-uppercase details mt-2">Website</h3>
                      <div class="website-value"><a href="<%= partner[:website] %>" target="_blank"><%= partner[:website] %></a></div>
                    </div>
                    <% end %>
                    <% if partner[:social]%>
                    <div class="social mb-3">
                      <%  partner[:social].each_with_index do|social_info, index| %>
                        <a href="<%= social_info[:link]  %>"> <%= social_info[:name] %></a>
                      <% end %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Modal: infoModal-<%=index %> -->
      <% end %>

      <% end %>
    </div>
  </div>

</section>

<% content_for :end_js do %>
  <script>
      $(document).ready(function () {
          ost.partners.companies.init(
              {
                  partner_companies: <%= raw partner_companies.to_json %>
              }
          );
      });
  </script>
<% end %>