<%
  partner_companies = [
      {
          categories: ["creative-social", "loyalty"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false,
          description_html: '11111',
          founders: [
              {
                  name: '222',
                  title: '33333'
              },
              {
                  name: '44444',
                  title: '5555'
              },
              {
                  name: '66666',
                  title: '77777'
              }
          ],
          location: 'asd',
          website: '.com',
          social: {
              twitter: 'tweet',
              medium: 'med',
              linkedin: 'link'
          }
      },
      {
          categories: ["dapps", "marketplaces"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["community", "sharing-economy"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["creative-social", "loyalty"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["dapps", "marketplaces"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["community", "sharing-economy"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["creative-social", "loyalty"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["dapps", "marketplaces"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["community", "sharing-economy"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["creative-social", "loyalty"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["dapps", "marketplaces"],
          size: "large",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
      {
          categories: ["community", "sharing-economy"],
          size: "start-ups",
          on_hover_bgcolor: "classname",
          on_hover_imgcolor: "classname",
          has_exited: false
      },
  ]
%>
<section id="partner-companies" class="container-partner-companies position-relative pt-5" style="overflow:hidden;">
  <div class="ost-backward-triangle dark-blue">
    <div class="container dotted-bg"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="mt-5 pt-4 mb-4 text-center">Partner Companies</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3 mx-auto">

        <div class="row">

          <div class="col-6">
            <div class="form-group">
              <label for="categorySelect" class="filter-style">Category</label>
              <select class="form-control selectpicker" id="categorySelect">
                <option>all</option>
                <option>creative-social</option>
                <option>loyalty</option>
                <option>dapps</option>
                <option>marketplaces</option>
                <option>community</option>
                <option>sharing-economy</option>
              </select>
            </div>
          </div>
          <div class="col-6 border-class">
            <div class="form-group">
              <label for="sizeSelect" class="filter-style">SIZE</label>
              <select class="form-control selectpicker" id="sizeSelect">
                <option>all</option>
                <option>large</option>
                <option>start-ups</option>
              </select>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="row mt-5">
      <% partner_companies.each_with_index do|partner, index| %>
        <div class="col-6 col-md-3 p-0 category-all size-all <%= 'category-'+partner[:categories].join(" category-") %> size-<%= partner[:size] %>">
          <div class="border-box">
            <div class="aspect-ratio-box" title="<%= 'category-'+partner[:categories].join(" category-") %> size-<%= partner[:size] %>">
              <span class="aspect-ratio-box-inside"  data-toggle="modal" data-target="#infoModal" data-partner_companies_index="<%=index %>"></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="modal fade right" id="infoModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4>Unsplash</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

          Modal body..
          <p id="trial"></p>
          <p id="trial2"></p>
          <div class='row'>

          </div>
        </div>

        <!-- Modal footer -->

      </div>
    </div>
  </div>
</section>

<% content_for :end_js do %>
  <script>
      $(document).ready(function () {
          ost.partners.companies.init(
              {
                  partner_companies: <%= raw partner_companies.to_json %>
              }
          );
      });
  </script>
<% end %>