<section class="py-5 container-fluid use_cases">
  <div class="row">
    <h2 class="mx-auto"> Use Cases </h2>
  </div>
  <%
    autoplay_version = "?rel=0&autoplay=1";
    use_cases =  [{
                         :title => 'ConnectScale',
                         :description => "ConnectScale is a sports fishing social community built around a connected device for weighing and tracking catch data from fishing trips.",
                         :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/Connect_scale1x.png",
                         :youtube_link => "https://www.youtube.com/embed/MjtcnnqmVBk" + autoplay_version,
                         :project_link => "https://connectscale.com/",
                     },
                     {
                         :title => "Fainin",
                         :description => "When one of the founders was living in a dorm, he saw the need for a well-organised way to borrow stuff you rarely use. Like a drill or a tripod. Backed by a major insurer, Fainin will also feature “try before you buy” and “rent on location” products, like a pair of skis when staying at an AirBnB in the Alps.",
                         :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/fainin1x.png",
                         :youtube_link => "https://www.youtube.com/embed/EMVczADfNOo" + autoplay_version,
                         :project_link => "https://fainin.com/en/",
                     },
                     {
                         :title => "License.Rocks",
                         :description => "License.Rocks is building a platform for decentralized software licensing through tokenization. Their vision is to build a framework for defining how digital products such as software can be licensed and create new business opportunities and sales channels for creators of digital products.",
                         :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/License_rock1.png",
                         :youtube_link => "https://www.youtube.com/embed/wJ6XkOIkbX0" + autoplay_version,
                         :project_link => "https://license.rocks/"

                     },
                     {
                         :title => "Radmule Labs",
                         :description => "RadMule Labs is a mobile game studio focusing on new and innovative ways of gaming. By building a game that has a token economy using OST Radmule wants to let players earn tokens they can spend on other apps in the OST network.",
                         :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/Radmule1.png",
                         :youtube_link => "https://www.youtube.com/embed/thxQOtO2fIc" + autoplay_version,
                         :project_link => "https://www.radmule.com/"
                     },
                     {
                         :title => 'The Brightly Co.',
                         :description => "The Brightly Co.wants to change the world through conscious shopping. They are catering to the millennial generation, who are overwhelmingly supportive (72%) of buying products that are made ethically and sustainably. With an annual spending power of over $200B, millennials can make a difference!",
                         :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/the-brightly-Co.1.png",
                         :youtube_link => "https://www.youtube.com/embed/iXBIgdoMnQE" + autoplay_version,
                         :project_link => "https://thebrightly.co/",

                     },
                      {
                          :title => 'Touriocity',
                          :description => "The people behind this London-based startup used to run their own tour company in Rome, when they noticed a growing in trend in people looking for tailor-made itineraries. Tour buses and the same old, tired walk around the Colosseum just didn’t cut it anymore: Touriocity is all about making citytrips a unique, personal experience.",
                          :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-winners/ost-winners-sbs-read-it.png",
                          :youtube_link => "https://www.youtube.com/embed/Ulrsx3Q5PhA" + autoplay_version,
                          :project_link => "https://touriocity.com/#!/",

                      },
                      {
                          :title => "Twilala",
                          :description => "Twilala connects people in your area who share a mutual interest, from climbing mountains to wine tasting. You can use their app to exchange ideas, recommend locations or to organize meet-ups for like-minded people. Though currently focused on the Spanish market, Twilala hopes to cater to millions of people all over the world by 2020.",
                          :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/partners/Twilala1.png",
                          :youtube_link => "https://www.youtube.com/embed/97XSaBteNv8" + autoplay_version,
                          :project_link => "https://www.twilala.es/"
                      },
    ]
  %>
  <div class="use-case-wrap container">

      <% use_cases.each_with_index do |data, index| %>
      <div class="use-case-item">

          <div id="use-cases">
                <div class="pt-3 pt-lg-5 bg-blue">
                    <div class="row">
                      <div class="col-12 text-center d-lg-none">
                      <h4 class="mb-4"><%= data[:title]%></h4>
                      </div>
                      <div class="col-12 col-lg-7 play-video">

                        <div class="video-image">
                          <img src="<%= data[:youtube_img]%>" class="img-fluid" alt="OST - Design Your Token" title="" />
                          <div class="play">
                            <svg class="svg-play">
                              <switch>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-play-icon"></use>
                              </switch>
                            </svg>
                          </div>
                        </div>
                        <div class="embed-responsive embed-responsive-16by9 video-iframe" data-src="<%= data[:youtube_link]%>" hidden>
                        </div>
                      </div>
                      <div class="col-12 col-lg-5 ">
                        <h4 class="my-4 mt-lg-0 d-none d-lg-block"><%= data[:title]%></h4>
                        <p class="mt-3"><%= data[:description]%></p>
                        <% if data[:project_link].present? %>
                          <a href="<%= data[:project_link]%>" class="link" target="_blank" title="READ MORE ABOUT <%= data[:project_link_name]%>">CHECK THE PROJECT HERE</a>
                        <%end%>

                      </div>
                    </div>

                </div>


          </div>




      </div>
      <% end %>
  </div>
  <div class="text-center">
    <a class="btn btn-secondary text-center mt-5" href="/challenges">
      VIEW ALL POC PROJECTS
    </a>
  </div>


</section>

<% content_for :end_js do %>
  <script>
    $(document).ready(function () {
      ost.partnersUseCases.index.init();
    });
  </script>
<% end %>