<section class="container-fluid side-by-side">

  <div class="row my-5 pb-3">
    <div class="container text-center">
      <h3>The Challenge</h3>
      <p class="my-4">92 projects from 50+ countries successfully completed the OST KIT Alpha III challenge. All Proofs of Concept highlight the OST Ledger & Balance APIs, allowing developers to create wallet- lite features in their applications where end-users can interact with their token balances and transaction histories. Thank you to all participants and winners!</p>
      <a href="https://medium.com/ostdotcom/announcing-ost-kit-alpha-phase-iii-embedded-wallet-lite-challenge-4a67ea214971" class="the-challenge-link" target="_blank">For more details on the full Alpha III rules and eligibility, please read our announcement blog post.</a>.
    </div>
  </div>

<%
  community_vote_path = "https://dxwfxs8b4lg24.cloudfront.net/ost/images/alpha3winners/vote-stamp@2x.png";
  autoplay_version = "?rel=0&autoplay=1";
  side_by_side =  [{
                           :title => 'kidtoken',
                           :description => "kidtoken is a tokenized allowance for kids. kidtoken is designed to incentivize positive behaviors and to create a digital way to learn the new generation of kids how to save and spend.",
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/alpha3winners/ost-alpha-winners-kid-token@2x-3.png",
                           :youtube_link => "https://www.youtube.com/embed/wenTfSmHR6Y" + autoplay_version,
                           :project_link => "https://medium.com/@ostkidtoken/kidtoken-ost-alpha-iii-final-video-and-blog-a40af79221fc",
                           :project_link_name => "kidtoken",
                           :participants => [
                           {
                               :title => "Scott Connors",
                               :type  => "CEO"
                           },
                           {
                               :title => "Casie Connors",
                               :type  => "CFO"
                           },
                           {
                               :title => "Chance Chapman",
                               :type  => "CTO"
                           },
                           {
                             :title => "Michael Murray",
                             :type  => "President of Marketing"
                           },
                           {
                             :title => "Cassidi Murray",
                             :type  => "Community Manager"
                           },
                           {
                             :title => "David Bobr",
                             :type  => "Business Development Manager"
                           }

                          ]
                        },
                         {
                           :title => "Really Simple Store",
                           :description => 'Really Simple Store allows for "creator stores" to generate more revenue by listing and selling other stores’ products. Their Branded Token has the potential to connect crafts stores all over the world.',
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/alpha3winners/ost-alpha-winners-really-simple-store@2x.png",
                           :youtube_link => "https://www.youtube.com/embed/wjpyp210Zy0" + autoplay_version,
                           :project_link => "https://medium.com/really-simple-store/ost-alpha-iii-final-video-and-post-f9248081d01d",
                           :project_link_name => "Really Simple Store",
                           :participants => [
                           {
                               :title => "Drew Thomas"
                           }
                           ]
                         },
                         {
                           :title => "FUTURED",
                           :description => 'Futured is the concept for an "intellectual magazine free of spam or low quality content". Their token will reward readers and authors for contributing and sharing worthy content.',
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/alpha3winners/ost-alpha-winners-futured@2x.png",
                           :youtube_link => "https://www.youtube.com/embed/NdH7ZO4PnF0" + autoplay_version,
                           :project_link => "https://medium.com/futured/development-update-v-03-ost-final-69a9b2edfc6",
                           :project_link_name => "FUTURED",
                           :participants => [
                             {
                               :title => "Tyler Lastovich"
                             }
                           ]
                         },
                         {
                           :title => "Firmament",
                           :description => 'Firmament is a chat bot that allows businesses and its employees to incentivize their co-workers with little token rewards. Firmament aims to improve the overall productivity and joy at work.',
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/alpha3winners/ost-alpha-winners-firmament@2x-2.png",
                           :youtube_link => "https://www.youtube.com/embed/m5-n1mspU8k" + autoplay_version,
                           :project_link => "https://medium.com/@stefanlh/firmament-ost-kit-alpha-phase-iii-finished-e3017ca1721c",
                           :project_link_name => "Firmament",
                           :participants => [
                             {
                               :title => "Stefan Lange-Hegermann"
                             }
                           ]
                         },
                         {
                           :title => "Surwei",
                           :description => 'Surwei lets companies and researchers collect more responses to their surveys by rewarding respondents with Branded Tokens. They can earn tokens themselves by responding to other surveys.',
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/alpha3winners/ost-alpha-winners-surwei@2x.png",
                           :youtube_link => "https://www.youtube.com/embed/_xpIWQgh33k" + autoplay_version,
                           :project_link => "https://medium.com/surwei/ost-3-final-post-surwei-3980715fed16",
                           :project_link_name => "Surwei",
                           :participants => [
                             {
                               :title => "Tiago Alves"
                             }
                           ]
                         },
                         {
                           :title => "Employees Loyalty Program",
                           :description => 'Employees Loyalty Program incentivizes employees with Branded Tokens for performing certain actions. These Tokens can then be spent within a network of affiliated companies.',
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/alpha3winners/ost-alpha-winners-employee-discount@2x.png",
                           :youtube_link => "https://www.youtube.com/embed/IViJzxF5Fvo" + autoplay_version,
                           :project_link => "https://medium.com/@trapdoor1975/ost-alpha-iii-developers-challenge-final-submission-7581f65818b4",
                           :project_link_name => "Employees Loyalty Program",
                           :community_vote => community_vote_path,
                           :participants => [
                             {
                               :title => "Aleksei"
                             }
                           ]
                         },
                         {
                           :title => "KARPARC",
                           :description => 'Karparc wants to take the frustration out of finding a good parking spot by allowing drivers to book and pay for parking spots immediately, without reserving (thus blocking) spaces in advance.',
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/alpha3winners/ost-alpha-winners-karparc@2x.png",
                           :youtube_link => "https://www.youtube.com/embed/GCzpxvUm320" + autoplay_version,
                           :project_link => "https://medium.com/@waliazizganatra/karparc-ost-kit-alpha-phase-iii-final-16c9398c4765",
                           :project_link_name => "KARPARC",
                           :community_vote => community_vote_path,
                           :participants => [
                             {
                               :title => "Moiz Iqbal",
                               :type  => "Project Manager"
                             },
                             {
                               :title => "Wali Ganatra",
                               :type  => "Tester"
                             },
                             {
                               :title => "Hamza Younus",
                               :type  => "Developer"
                             },
                           ]
                         },
                         {
                           :title => "JoyPass",
                           :description => 'JoyPass aims to rid the world of paper points and vouchers, by allowing consumers to receive JOY points instead, which can be redeemed at participating stores, restaurants and communities.',
                           :youtube_img => "https://dxwfxs8b4lg24.cloudfront.net/ost/images/alpha3winners/ost-alpha-winners-joy-pass@2x.png",
                           :youtube_link => "https://www.youtube.com/embed/Uub04jXSzfs" + autoplay_version,
                           :project_link => "https://medium.com/joypass/joypass-osta3-challenge-completed-9f5dfe89f296",
                           :project_link_name => "JoyPass",
                           :community_vote => community_vote_path,
                           :participants => [
                             {
                               :title => "Daniel Pham",
                             }
                           ]
                         }
          ]
%>

  <div id="winners">
   <% side_by_side.each_with_index do |data, index| %>

      <% if index%2 == 0 %>
        <div class="row py-5 back-angled-edge side-by-side bg-blue position-relative">
          <div class="container">
            <div class="mb-4 d-flex">
              <h3 class="m-0 mr-3 d-inline-block align-self-center"><%= data[:title]%></h3>
              <img class="align-self-center" src="<%= data[:community_vote]%>" width="70"/>
            </div>
            <div class="row">
              <div class="col-12 col-md-7 play-video">
                <div class="video-image" title="<%= data[:project_link_name]%>">
                  <img src="<%= data[:youtube_img]%>" class="img-fluid" alt="OST - Design Your Token" title="<%= data[:project_link_name]%>"/>
                  <div class="play">
                    <svg class="svg-play">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-play-icon"></use>
                      </switch>
                    </svg>
                  </div>
                </div>
                <div class="embed-responsive embed-responsive-16by9 video-iframe" data-src="<%= data[:youtube_link]%>" hidden>
                </div>
              </div>
              <div class="col-12 col-md-5">
                <p class="mt-3 mt-md-0"><%= data[:description]%></p>
                <% if data[:project_link].present? %>
                  <a href="<%= data[:project_link]%>" class="link text-uppercase" target="_blank" title="READ MORE ABOUT <%= data[:project_link_name]%>">READ MORE ABOUT <%= data[:project_link_name]%></a>
                <%end%>
                <% if data[:participants].present? %>
                  <div class="participants-container blue mt-4 <%= data[:participants].length > 2 ? "slick-slider-min" : "" %>">
                    <p class="mb-2 partners-title">PARTICIPANTS</p>
                    <div class="participants-carousel">
                      <% data[:participants].each_with_index do |data, index| %>
                        <div class="item">
                          <div class="participants-title text-truncate"><%= data[:title]%></div>
                          <small class="font-weight-light"><%= data[:type]%></small>
                        </div>
                      <%end%>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
       <% else %>

        <div class="row side-by-side bg-sky-blue position-relative pt-5">
          <div class="container py-5">
            <div class="mb-4 d-flex">
              <h3 class="m-0 mr-3 d-inline-block align-self-center"><%= data[:title]%></h3>
              <img class="align-self-center" src="<%= data[:community_vote]%>" width="70"/>
            </div>
            <div class="row">
              <div class="col-12 col-md-7 play-video order-sm-12">
                <div class="video-image">
                  <img src="<%= data[:youtube_img]%>" class="img-fluid" alt="OST - Design Your Token" title="<%= data[:project_link_name]%>" />
                  <div class="play">
                    <svg class="svg-play">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-play-icon"></use>
                      </switch>
                    </svg>
                  </div>
                </div>
                <div class="embed-responsive embed-responsive-16by9 video-iframe" data-src="<%= data[:youtube_link]%>" hidden>
                </div>
              </div>
              <div class="col-12 col-md-5 order-sm-1">
                <p class="mt-3 mt-md-0"><%= data[:description]%></p>
                <% if data[:project_link].present? %>
                  <a href="<%= data[:project_link]%>" class="link text-uppercase" target="_blank" title="READ MORE ABOUT <%= data[:project_link_name]%>">READ MORE ABOUT <%= data[:project_link_name]%></a>
                <%end%>
                <% if data[:participants].present? %>
                  <div class="participants-container sky-blue mt-4 <%= data[:participants].length > 2 ? "slick-slider-min" : "" %>">
                    <p class="mb-2 partners-title">PARTICIPANTS</p>
                    <div class="participants-carousel">
                      <% data[:participants].each_with_index do |data, index| %>
                        <div class="item">
                          <div class="participants-title text-truncate"><%= data[:title]%></div>
                          <small class="font-weight-light"><%= data[:type]%></small>
                        </div>
                      <%end%>
                    </div>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
       <% end %>
    <% end %>
  </div>

</section>



