<% if (mobile_view && year == 2018 && quarter == 4) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2018',
  quarter: 'Q4',
  desc_html: '<span class="text-bold">Test integrations of OST on Mainnet with redeem to OST.</span>'
} %>

<div class="row">
  <div class="col-12 bg-line third pt-5 mx-auto">
    <div class="container-content">
      <div class="text-bold">Redeem BT for OST (internal alpha)</div>
      <div class="status">Status: Complete</div>
    </div>
  </div>
</div>
<%end %>

<% if (mobile_view && year == 2019 && quarter == 1) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2019',
  quarter: 'Q1',
  desc_html: '<span class="text-bold">OpenST & OST Mainnet security audit. Branded Token economies on mainnet with redeem for in-app purchases.</span>'
} %>

<div class="row">
  <div class="col-12 bg-line third pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">Redeem BT for in-app purchases (alpha)</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<%end %>

<% if (mobile_view && year == 2019 && quarter == 2) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2019',
  quarter: 'Q2',
  desc_html: '<span class="text-bold">OST KIT Beta Availability for mainstream businesses.</span>'
} %>

<div class="row">
  <div class="col-12 bg-line third pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">Redeem BT for in-app purchases</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<%end %>

<% if (mobile_view && year == 2019 && quarter == 3) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2019',
  quarter: 'Q3',
  desc_html: '<span class="text-bold">OST KIT General Availability for mainstream businesses, with BTEX beta.</span>'
} %>

<div class="row">
  <div class="col-12 bg-line third pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">Redeem BT for OST, BT, ETH, BTC, and in-kind redemption partners.</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<%end %>

<% if (mobile_view && year == 2019 && quarter == 4) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2019',
  quarter: 'Q4',
  desc_html: '<span class="text-bold">Fungible and non-fungible tokens.</span> Economy stabilization options. Crypto-fiat options.'
} %>

<div class="row">
  <div class="col-12 bg-line third pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">Additional Currency Pairings</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<%end %>

<% if (mobile_view && year == 2020 && quarter == 1) || !mobile_view %>
<div class="row quarters-year-row">
  <div class="col-12 mt-5">
    <div class="container-content q1-bg text-center">
      <span class="year">2020</span>
      <span class="quarter">Q1</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 bg-line third pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">Additional Currency Pairings</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<%end %>

<% if (mobile_view && year == 2020 && quarter == 2) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2020',
  quarter: 'Q2',
  desc_html: '<span class="text-bold">Fully autonomous decentralized token economies.</span>'
} %>

<div class="row">
  <div class="col-12 bg-line third pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">Additional Currency Pairings</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<%end %>

<% if (mobile_view && year == 2020 && quarter == 4) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2020',
  quarter: 'Q4',
  desc_html: '<span class="text-bold">Scale OST to machine-to-machine transactions.</span>'
} %>

<div class="row">
  <div class="col-12 bg-line third pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST 2.0: Multi-Hop Gateways</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<%end %>

<% if (mobile_view && year == 2021 && quarter == 2) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2021',
  quarter: 'Q2',
  desc_html: '<span class="text-bold">Fully autonomous decentralized token economies on any major blockchain, at M2M-scale, with exchange liquidity.</span>'
} %>

<div class="row">
  <div class="col-12 bg-line third pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST 3.0 & OST 3.0: Additional blockchains beyond Ethereum</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<%end %>