<% if (mobile_view && year == 2017 && quarter == 4) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2017',
  quarter: 'Q4',
  desc_html: '<span class="text-bold">OpenST Protocol released for developers</span> to build infrastructure and tools to enable token economies.'
} %>

<div class="row">
  <div class="col-12 bg-line first pt-5">
    <div class="container-content">
      <div class="text-bold">OpenST Protocol 0.9.0, 0.9.1</div>
      <div class="status">Status: Complete</div>
      <ul class="p-0 m-0 list-unstyled" style="font-size: 0">
        <li class="list-inline-item">
          <a href="https://www.youtube.com/watch?v=-SxJ8c1Xh_A" target="_blank" title="OST Roadmap - Youtube">
            <span class="roadmap-youtube-icon"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://medium.com/ostdotcom/openst-0-9-1-released-d6d5a24d52de" target="_blank" title="OST Roadmap - Medium">
            <span class="roadmap-medium-icon"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/OpenSTFoundation/mosaic-contracts/releases/tag/v0.9.0" target="_blank" title="OST Roadmap - Github">
            <span class="roadmap-github-icon"></span>
          </a>
        </li>
      </ul>
      <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/roadmap/openst-protocol-0.9.1@2x.png" class="img-fluid d-block my-3"/>
      <ul class="desc-lines">
        <li>Mint Branded Tokens</li>
        <li>Mainnet Developer Release</li>
      </ul>
      <a href="https://medium.com/ostdotcom/openst-0-9-1-released-d6d5a24d52de" class="d-block more-desc" target="_blank" title="Read more">Read more</a>
    </div>
  </div>
</div>
<% end %>

<% if (mobile_view && year == 2018 && quarter == 1) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2018',
  quarter: 'Q1',
  desc_html: '<span class="text-bold">1600 Branded Token economies created.</span> 18.8 million token transfers executed.'
} %>

<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-7 col-md-6 mx-auto" style="font-size: 0">
        <svg width="100%" height="100%" viewBox="0 0 211 101" xmlns="http://www.w3.org/2000/svg">
          <path d="M209 100.068V70.693c0-16.268-12.987-29.455-29.007-29.455h-49.182c-22.429 0-25.181-18.463-25.181-41.238 0 22.775-2.753 41.238-25.181 41.238H31.007C14.987 41.238 2 54.425 2 70.693v29.375" stroke="#A5C7D7" stroke-width="3" fill="none" fill-rule="evenodd"/>
        </svg>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex">
        <div class="container-content p-15-10">
          <div class="text-bold">OpenST Protocol 0.9.2</div>
          <div class="status">Status: Complete</div>
          <ul class="p-0 m-0 list-unstyled" style="font-size: 0">
            <li class="list-inline-item">
              <a href="https://github.com/OpenSTFoundation/mosaic-contracts/releases/tag/v.0.9.2" target="_blank" title="OST Roadmap - Github">
                <span class="roadmap-github-icon"></span>
              </a>
            </li>
          </ul>
          <ul class="desc-lines">
            <li>Token Transfers</li>
          </ul>
        </div>
      </div>
      <div class="col-6 d-flex">
        <div class="container-content p-15-10">
          <div class="text-bold">OpenST Mosaic R&D</div>
          <div class="status">Status: Complete</div>
          <ul class="p-0 m-0 list-unstyled" style="font-size: 0">
            <li class="list-inline-item">
              <a href="https://github.com/OpenSTFoundation/mosaic-contracts" target="_blank" title="OST Roadmap - Github">
                <span class="roadmap-github-icon"></span>
              </a>
            </li>
          </ul>
          <ul class="desc-lines">
            <li>Asynchronous hetero-geneous composition of blockchains</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if (mobile_view && year == 2018 && quarter == 3) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2018',
  quarter: 'Q3',
  desc_html: '<span class="text-bold">200+ developer</span> teams integrating OST Alpha 3 into their apps. Publish framework for scaling token economies.'
} %>

<div class="row">
  <div class="col-6 bg-line first pt-5 d-flex">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 0.9.3</div>
      <div class="status">Status: Complete</div>
      <ul class="p-0 m-0 list-unstyled" style="font-size: 0">
        <li class="list-inline-item">
          <a href="https://github.com/OpenSTFoundation/mosaic-contracts" target="_blank" title="OST Roadmap - Github">
            <span class="roadmap-github-icon"></span>
          </a>
        </li>
      </ul>
      <ul class="desc-lines">
        <li>Cross-chain token-messaging</li>
      </ul>
    </div>
  </div>
  <div class="col-6 bg-line first pt-5 d-flex">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Mosaic Paper</div>
      <div class="status">Status: In Progress</div>
      <ul class="p-0 m-0 list-unstyled" style="font-size: 0">
        <li class="list-inline-item">
          <a href="https://medium.com/ostdotcom/ost-contributes-openst-protocol-0-9-3-fully-decentralizing-the-openst-protocol-gateway-52719d9785b5" target="_blank" title="OST Roadmap - Medium">
            <span class="roadmap-medium-icon"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/OpenSTFoundation/mosaic.js" target="_blank" title="OST Roadmap - Github">
            <span class="roadmap-github-icon"></span>
          </a>
        </li>
      </ul>
      <ul class="desc-lines">
        <li>Scalable PoS Blockchains Finalized on Ethereum</li>
      </ul>
    </div>
  </div>
</div>
<% end %>

<% if (mobile_view && year == 2018 && quarter == 4) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2018',
  quarter: 'Q4',
  desc_html: '<span class="text-bold">Test integrations of OST on Mainnet with cash-out to OST.</span>'
} %>

<div class="row">
  <div class="col-12 bg-line first pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 0.9.4</div>
      <div class="status">Status: Complete</div>
      <ul class="p-0 m-0 list-unstyled" style="font-size: 0">
        <li class="list-inline-item">
          <a href="https://www.youtube.com/watch?v=V4yo-yvFNy8" target="_blank" title="OST Roadmap - Youtube">
            <span class="roadmap-youtube-icon"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://medium.com/ostdotcom/release-of-openst-protocol-v0-9-4-88c24a2618f6" target="_blank" title="OST Roadmap - Medium">
            <span class="roadmap-medium-icon"></span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/OpenSTFoundation/openst-contracts" target="_blank" title="OST Roadmap - Github">
            <span class="roadmap-github-icon"></span>
          </a>
        </li>
      </ul>
      <ul class="desc-lines">
        <li>Decentralized keys engine & token rules engine</li>
      </ul>
      <div class="mt-3 mb-2 flag-icon">
        <svg class="mx-auto d-block">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#roadmap-small-flag"></use>
          </switch>
        </svg>
      </div>
      <div class="text-bold">OpenST Protocol Mainnet Alpha</div>
      <div class="status">Status: In Progress</div>
<!--      <ul class="desc-lines">-->
<!--        <li>Mainnet Alpha</li>-->
<!--      </ul>-->
    </div>
  </div>
</div>
<% end%>

<% if (mobile_view && year == 2019 && quarter == 1) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2019',
  quarter: 'Q1',
  desc_html: '<span class="text-bold">OpenST & OST Mainnet. Branded Token economies on mainnet with cash-out to OST or ETH.</span>'
} %>

<div class="row">
  <div class="col-6 bg-line first pt-5 d-flex">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 0.10.0 Mainnet Beta</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
  <div class="col-6 bg-line first pt-5 d-flex">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Mosaic Alpha</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<% end%>

<% if (mobile_view && year == 2019 && quarter == 2) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2019',
  quarter: 'Q2',
  desc_html: '<span class="text-bold">OST KIT Beta Availability for mainstream businesses.</span>'
} %>

<div class="row">
  <div class="col-12 bg-line first pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 0.10</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<% end%>

<% if (mobile_view && year == 2019 && quarter == 3) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2019',
  quarter: 'Q3',
  desc_html: '<span class="text-bold">OST KIT General Availability for mainstream businesses, with BTEX beta.</span>'
} %>

<div class="row">
  <div class="col-6 bg-line first pt-5 d-flex">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 0.11</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
  <div class="col-6 bg-line first pt-5 d-flex">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Mosaic Beta</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<% end%>

<% if (mobile_view && year == 2019 && quarter == 4) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2019',
  quarter: 'Q4',
  desc_html: '<span class="text-bold">Enable anyone to run an OpenST BT-EX or BT-DEX.</span>'
} %>
<div class="row">
  <div class="col-12 bg-line first pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 0.12 BT-EX & BT-DEX Framework</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<% end%>

<% if (mobile_view && year == 2020 && quarter == 2) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2020',
  quarter: 'Q2',
  desc_html: '<span class="text-bold">Fully autonomous decentralized token economies.</span>'
} %>
<div class="row">
  <div class="col-12 bg-line first pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST Protocol 1.0: OpenST & OpenST Mosaic Fully Decentralized</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<% end%>

<% if (mobile_view && year == 2020 && quarter == 4) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2020',
  quarter: 'Q4',
  desc_html: '<span class="text-bold">Scale OST to machine-to-machine transactions.</span>'
} %>
<div class="row">
  <div class="col-12 bg-line first pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST 2.0: Multi-Hop Gateways</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<% end%>

<% if (mobile_view && year == 2021 && quarter == 2) || !mobile_view %>
<%= render :partial => "/web/ost/roadmap/mobile/mobile-quarter-header", locals: {
  year: '2021',
  quarter: 'Q2',
  desc_html: '<span class="text-bold">Fully autonomous decentralized token economies on any major blockchain, at M2M-scale, with exchange liquidity.</span>'
} %>
<div class="row">
  <div class="col-12 bg-line first pt-5 mx-auto">
    <div class="container-content p-15-10">
      <div class="text-bold">OpenST 3.0 & OST 3.0: Additional blockchains beyond Ethereum</div>
      <div class="status">Status: Upcoming</div>
    </div>
  </div>
</div>
<% end%>