<div class="d-none d-md-block">

  <%= render :partial => "/web/ost/roadmap/desktop/jumbotron" %>

  <%= render :partial => "/web/ost/roadmap/desktop/quarters" %>

  <div class="container roadmap-container">

    <%= render :partial => "/web/ost/roadmap/desktop/roadmap-categories" %>

    <%= render :partial => "/web/ost/roadmap/desktop/2017-q4" %>

    <%= render :partial => "/web/ost/roadmap/desktop/2018-q1" %>

    <%= render :partial => "/web/ost/roadmap/desktop/2018-q2" %>

    <%= render :partial => "/web/ost/roadmap/desktop/2018-q3" %>

    <%= render :partial => "/web/ost/roadmap/desktop/2018-q4" %>

    <%= render :partial => "/web/ost/roadmap/desktop/2019-q1" %>

    <%= render :partial => "/web/ost/roadmap/desktop/2019-q2" %>

    <%= render :partial => "/web/ost/roadmap/desktop/2019-q3" %>

  </div>

</div>