<div id="advisors" class="container-team paddingTop57">
  <div class="container">
    <div class="row mb-4 pb-3">
      <h2 class=" mx-auto">Advisors Team</h2>
    </div>

    <div class="row">

      <div class="col-12 col-md-11 col-md-offset-1 mx-auto">

          <div class="advisor-team">



            <%
              advisors_team_response = (@dynamic_content.data[GlobalConstant::StaticContentFileName.ost_advisors_team]['api_response'] || []) rescue []
              advisors_team_response.each_with_index do|member, index|
            %>
              <% if (index % 3) == 0 %><div class="row mx-auto"><% end %>
              <div class="col-12 col-md-4" itemprop="member" itemscope itemtype="http://schema.org/Person">
                <div class="thumbnail">
                  <img class="img-fluid" itemprop="photo" src="<%=member['advisors_list_image'] %>" alt="<%=member['advisors_list_name'] %>">
                  <div class="caption">
                    <h5 itemprop="name"><%=member['advisors_list_name'] %></h5>
                    <h6 itemprop="jobTitle"><%=member['advisors_list_title'] %></h6>
                    <p class="mb-2"><%=member['advisors_list_description'] %></p>
                    <p>
                      <% if member['advisors_list_linkedIn'].present? %>
                        <a class="profile-links" target="_blank" href="<%= member['advisors_list_linkedIn'] %>">LinkedIn</a>
                      <% end %>
                      <% if member['advisors_list_twitter'].present? %>
                        <% if member['advisors_list_linkedIn'].present? %>•&nbsp;<% end %>
                        <a class="profile-links" target="_blank" href="<%= member['advisors_list_twitter'] %>">Twitter</a>
                      <% end %>
                      <% if member['advisors_list_medium'].present? %>
                        <% if member['advisors_list_linkedIn'].present? || member['advisors_list_twitter'].present? %>•&nbsp;<% end %>
                        <a class="profile-links" target="_blank" href="<%= member['advisors_list_medium'] %>">Medium</a>
                      <% end %>
                      <% if member['advisors_list_website'].present? %>
                        <% if member['advisors_list_linkedIn'].present? || member['advisors_list_twitter'].present? || member['advisors_list_medium'].present? %>•&nbsp;<% end %>
                        <a class="profile-links" target="_blank" href="<%= member['advisors_list_website'] %>">Website</a>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
              <% if ((index % 3) == 2) || ((index + 1) == advisors_team_response.length) %></div><% end %>
            <% end %>

          </div>

      </div>

    </div>
  </div>
</div>