<div id="team" class="container-team paddingTop57">
  <div class="container">

    <div class="row">
      <h2 class="mx-auto mb-4 pb-3">Meet Team OST</h2>
    </div>

    <div class="row">

      <div class="col-12 col-md-11 col-md-offset-1 mx-auto">

          <div class="core-team">

            <%

               core_team = [{
                                name: "Jason Goldberg",
                                title: "Chief Executive Officer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Jason-Goldberg.png",
                                linkedIn: 'https://www.linkedin.com/in/jasonsethgoldberg/',
                                twitter: 'https://twitter.com/betashop/',
                                medium: 'https://medium.com/@betashop/',
                                description: "Jason Goldberg is a veteran internet entrepreneur with an 18 year history of scaling products to millions of users. Since 2016 Jason’s passion has been to drive mainstream consumer adoption of blockchain technologies. Jason splits time between Berlin, Germany, Pune, India, and Hong Kong."
                            },
                            {
                                name: "Sunil Khedar",
                                title: "Chief Technology Officer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Sunil-Khedar.png",
                                linkedIn: 'https://www.linkedin.com/in/sunilkhedar/',
                                twitter: 'https://twitter.com/sunilkhedar/',
                                description: "Sunil joined forces with Nishith and Jason right out of college. Co-founder of the companies they built together including Hem.com, Fab.com, Fabulis, Social Median, True Sparrow and Montred. In 2016 Sunil founded Pepo with Jason and leads a world-class engineering team based in Pune."
                            },
                            {
                                name: "Ben Bollen",
                                title: "Chief Blockchain Strategist",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Ben-Bollen.png",
                                linkedIn: 'https://www.linkedin.com/in/benjaminbollen/',
                                twitter: 'https://twitter.com/BenjaminBollen/',
                                medium: 'https://medium.com/@BenjaminBollen/',
                                description: "Benjamin Bollen is a physicist working to build decentralized computing systems since 2009. Benjamin previously built Hyperledger Burrow, formerly Eris-DB, as lead developer at Monax Industries, worked on the routing layer when at MaidSafe and researched computationally efficient representations of strongly correlated quantum systems at university. You can find Ben in Berlin, Germany, Brussels, Belgium and Pune, India."
                            },
                            {
                                name: "Renee Wong",
                                title: "Chief Financial Officer & GM North America",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Renee-Wong.jpg",
                                linkedIn: 'https://www.linkedin.com/in/renee-wong-340ba91/',
                                description: "Renee Wong is seasoned financial strategist with 10+ years experience as CFO and General Manager in high growth businesses. Her previous experience includes executive and financial leadership roles at Dashlane, Fab.com, and Pop Sugar."
                            },
                            {
                              name: "Francesco Pacella",
                              title: "Vice President of Product",
                              image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Francesco-Pacella.png",
                              linkedIn: 'https://www.linkedin.com/in/francescopacella/',
                              description: 'Francesco "Frankie" Pacella is a Product and Marketing Manager with 5 years of experience. He developed and scaled a number of projects and companies on the tech scene across Europe and Asia focusing on growth, engagement, monetization, and analytics.'
                            },
                            {
                                name: "Adeola Ogunwole",
                                title: "Vice President of Marketing",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Adeola-Ogunwole.png",
                                linkedIn: 'https://www.linkedin.com/in/adeolaogunwole/',
                                description: "Adeola Ogunwole is a marketing executive, former founder and math nerd obsessed with answering “what”, “why” and “how” through data-driven narratives rooted in customer insights. She brings over 15 years experience leading global marketing teams. Her previous roles include senior marketing and strategy roles at Hult International Business School, Apollo Education, Quinstreet, and General Mills."
                            },
                            {
                                name: "Jason Banks",
                                title: "Lead Blockchain Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Jason-Banks.png",
                                linkedIn: 'https://www.linkedin.com/in/jbanks82/',
                                twitter: 'https://twitter.com/jasonnotklein/',
                                medium: 'https://medium.com/@jasonnotklein/',
                                description: "From Washington D.C., Jason Banks (“Banks”), enjoys living in big cities and working on complex projects. Prior to joining the tech industry as a software developer in Berlin, Banks practiced law, primarily capital markets and finance, for Shearman & Sterling in New York, Paris, and London."
                            },
                            {
                                name: "Paul J du Plessis",
                                title: "Business Development Director EMEA",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Paul-J-du-Plessis.png",
                                linkedIn: 'https://www.linkedin.com/in/pauljduplessis/',
                                twitter: 'https://twitter.com/paulduplessis/',
                                medium: 'https://medium.com/@pauldups/',
                                description: "Paul J du Plessis has 10 years experience building technology for enterprises and growing startups in fintech, insuretech and blockchain technology. Paul joins OST as the business development lead working closely with the member companies launching their own branded tokens on the OST network of networks. You can find Paul in Berlin, Germany and Pune, India."
                            },
                            {
                                name: "Wouter Verhoog",
                                title: "Director Communications",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Wouter-Verhoog.jpg",
                                linkedIn: 'https://www.linkedin.com/in/wouterverhoog/',
                                description: "Wouter has a way with words: He started his own publishing house in Amsterdam at the age of 18, kicking off his career in Entrepreneurship, Marketing and Communications. He co-founded BuddyGuard in 2015, a Berlin start-up specialised in clever home security. Wouter enjoys hiking in Switzerland, whisky from Scotland and weekend trips in his adopted homeland of Germany."
                            },
                            {
                                name: "Kedar Chandrayan",
                                title: "Lead Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Kedar-Chandrayan.png",
                                linkedIn: 'https://in.linkedin.com/in/kedar-chandrayan-00a44543/',
                                description: "Kedar Chandrayan has over 7 years of experience in building scalable and robust Backend Technologies. He has a habit of asking questions and understanding the 'why' of a product / service before he builds it. He did his Bachelors in Electrical Engineering from IIT Bombay and Masters in Communication and Signal Processing from IIT Bombay."
                            },
                            {
                                name: "Abhaykumar Singh",
                                title: "Engineering Lead",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Abhaykumar-Singh.png",
                                linkedIn: 'https://www.linkedin.com/in/abhay-kumar-15156316/',
                                description: "Abhay is a Senior Principal Software Engineer. He has experience in full stack development developing Web based SAAS Applications with all facets of SDLC (Software Development Life Cycle) like Requirements Analysis, System Design, Development, Deployment, Code Review, Website Scaling. He is proficient with Ruby, Ruby On Rails, Mysql, Amazon Web Services in building web applications."
                            },
                            {
                                name: "Prineel Bandellu",
                                title: "Lead User Experience Designer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Prineel-Bandellu.png",
                                linkedIn: 'https://www.linkedin.com/in/prineelbandellu/',
                                description: "Prineel is a Lead UX Designer with 7 years of experience in designing SaaS & Consumer products from the ground up. With his user centered approach to problem solving he has designed high impact web solution with strong emotional appeal across various domains. Prineel is based in Pune, India."
                            },
                            {
                                name: "Amulya Chirala",
                                title: "Financial Product Manager",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Amulya-Chirala.jpg",
                                linkedIn: 'https://www.linkedin.com/in/amulyachirala/',
                                description: "Amulya is a Financial Product Manager. In the past, she worked with HNW portfolios and custodial data feeds. She is a trained quant and is excited about the way blockchain is making complex financial products accessible to a broader market."
                            },
                            {
                                name: "Ignas Peciura",
                                title: "Director of the CEO Office",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Ignas-Peciura.png",
                                linkedIn: 'https://www.linkedin.com/in/ipeciura/',
                                description: "Ignas helps ensure the entire OST business is running smoothly. Ignas has marketing, product management, and ops experience in consumer and B2B apps and financial services. His recent work experience includes OST, Pepo, Mambu GmbH, and Barclays bank. Ignas lives in Berlin where he’s as passionate about the city as he is about his work."
                            },
                            {
                                name: "Akshay Raje",
                                title: "Lead Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Akshay-Raje.png",
                                twitter: 'https://twitter.com/akshayraje/',
                                medium: 'https://medium.com/@akshayraje/',
                                linkedIn: 'https://www.linkedin.com/in/akshayraje/',
                                description: "Akshay is a lead front-end engineer and the in-house JavaScript expert. He has the expertise in cutting edge front-end technologies, PHP, WordPress and Google Apps. He's enthusiastic about trading crypto-currencies and often writes about these topics on Medium and Quora."
                            },
                            {
                                name: "Sneha Golechha",
                                title: "Product Manager",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Sneha-Golechha.jpg",
                                linkedIn: 'https://www.linkedin.com/in/sneha-golechha-a571284b/',
                                description: "Sneha is a Product & Project Manager In Operations Process and Supply-Chain with Extensive experience in providing strategic direction, in a fast-paced International environment. Sneha has a strong consulting background that demonstrates her business acumen, problem solving and analytical skills."
                            },
                            {
                                name: "Balakrishna Hebbar",
                                title: "Director Engineering",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Balakrishna-Hebbar.png",
                                linkedIn: 'https://www.linkedin.com/in/bhebbar/',
                                twitter: 'https://twitter.com/bala_asodu/',
                                description: "Balakrishna is a lead engineer with 11+ years of experience. He has experience in building social media application like Social Median, eCommerce applications like Fab & Hem and mobile application like Pepo. He has a Master degree in Computer Applications from NIT Surathkal, Karnataka. He is passionate about learning new things be it a technology, economy or crypto currency."
                            },
                            {
                                name: "Alpesh Modi",
                                title: "Lead Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Alpesh-Modi.png",
                                linkedIn: 'https://www.linkedin.com/in/alpesh-modi-462a428/',
                                description: "Alpesh is a lead back-end engineer and has expertise in Ruby, Ruby on Rails . He is a hands-on technology executive with deep technical expertise.He has a very special talent to break down complex tasks into simpler tasks and achieving them with ease. Alpesh also has great knowledge on software architecture and implementation. An incredible solution generator as well as programer."
                            },
                            {
                                name: "Swaminathan Jayaraman",
                                title: "Lead User Experience Designer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Swaminathan-Jayaraman.png",
                                linkedIn: 'https://www.linkedin.com/in/iamswam/',
                                description: "Swaminathan Jayaraman is a product designer with a focus on digital experiences and startups. He loves to travel and backpack since taking truck rides at the age of 10. He brings the same enthusiasm, edge, and interests to design and product management. Apart from travel and design, he is scouting for junior local tennis talent in India."
                            },
                            {
                                name: "Aman Barbaria",
                                title: "Senior Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Aman-Barbaria.png",
                                linkedIn: 'https://www.linkedin.com/in/aman-barbaria/',
                                description: "Aman Barbaria is a senior software engineer with 3 years of working experience in the e-commerce industry. He is passionate towards building consumer facing products. A strong engineering professional with a Bachelor's Degree in Computer engineering from Pune University."
                            },
                            {
                                name: "Juhi Vibhakar",
                                title: "User Experience Designer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Juhi-Vibhakar-v1.png",
                                linkedIn: 'https://www.linkedin.com/in/juhivibhakar/',
                                description: "Juhi is a UX Designer who finished her Masters at the University of St Andrews in 2017. She’s passionate about creating usable workflows and improving digital design experiences. As an avid traveller she's always planning her next getaway, or perched up somewhere to take a stunning photograph. Her other interests include trying her hand at new dishes and reading fiction literature."
                            },
                            {
                                name: "Pranay Valson",
                                title: "Blockchain Technology Manager",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Pranay-Valson.jpg",
                                linkedIn: 'https://www.linkedin.com/in/valson/',
                                description: "Pranay Valson is a data scientist who enjoys peering into large datasets, A.I/M.L algorithms, and applied cryptography protocols. Previously, at skillfinity.io (backend developer) & Freshworks Inc. (solutions engineer). Pranay is a trained physicist using Bayesian learning on spectroscopic data from nuclear fusion reactors at the Max-Planck Institute for Plasma Physics, Germany."
                            },
                            {
                                name: "Thahir Gangireddypalli",
                                title: "Senior Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Thahir-Gangireddypalli.png",
                                twitter: 'https://twitter.com/ImThahir/',
                                description: "Thahir is a senior UI developer with 6+ years of experience. He has always been attracted to the visual and frontend aspects of web applications and builds responsive, cross browser and cross platform layouts. He's been with the team through Fab.com, Hem.com and Pepo."
                            },
                            {
                                name: "Junisha Malkani",
                                title: "Product Manager",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Junisha-Malkani.png",
                                linkedIn: 'https://www.linkedin.com/in/junisha-malkani/',
                                description: "Junisha is awesome with people, is entrepreneurial and understands technology well. Currently she is a Product Manager and owns the complete cycle from ideation to implementation. At Fab.com she built and guided a 20 people test team through successful execution across multiple projects. She is based in Pune, India."
                            },
                            {
                                name: "Rachin Kapoor",
                                title: "Senior Director Engineering",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Rachin-Kapoor.png",
                                linkedIn: 'https://www.linkedin.com/in/rachinkapoor/',
                                description: "Innovative, strategic & hands-on technology executive with deep technical expertise and proven ability in leading development of high technology products, streamlining efficiency, improving processes and growing operational competency."
                            },
                            {
                                name: "Jordan McDonald",
                                title: "Business Development Manager",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Jordan-McDonal.jpg",
                                linkedIn: 'https://www.linkedin.com/in/jordanrmcdonald/',
                                description: "Jordan brings his extensive business development experience to OST, and will work closely with our partner companies to help them launch their own branded cryptocurrencies. He gets his kicks from building new businesses and personal art projects."
                            },
                            {
                                name: "Puneet Khushwani",
                                title: "Principal Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Puneet-Khushwani.png",
                                linkedIn: 'https://www.linkedin.com/in/puneet-khushwani-01012726/',
                                description: "Puneet graduated from Birla Institute Of Technology & Science, Pilani Campus with a bachelor's degree in InformationSystems in May, 2013. He is currently working as Principal Software Engineer. Specialties: Ruby On Rails"
                            },
                            {
                                name: "Marina Antonova",
                                title: "Business Development Manager",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Marina-Antonova.png",
                                linkedIn: 'https://www.linkedin.com/in/marinaantonova/',
                                description: "Marina has 7 years of experience in Business Development and Partner Management in IT and Mobile Marketing industries. She enjoys exploring cities by bike and playing the piano."
                            },
                            {
                                name: "Pankaj Keswani",
                                title: "Principal Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Pankaj-Keswani.png",
                                linkedIn: 'https://www.linkedin.com/in/pankaj-keswani-1698ba3a/',
                                description: "Pankaj is a Principal Software Engineer with expertise in Ruby, Ruby on rails. If you need a superb dev who builds amazing things, can spot problems a mile away, and is too much fun to work with, then Pankaj is your man. He builds great products that work, he has an eye for user experience which makes him an invaluable asset."
                            },
                            {
                                name: "Deepesh Kumar Nath",
                                title: "Director Engineering",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Deepesh.png",
                                linkedIn: 'https://www.linkedin.com/in/deepeshkumarnath/',
                                description: "Deepesh has 10 years of solid IT experience in e-Commerce, retail and Financial domain. Currently designated as Director, Mobile Development and leading iOS team from past 2.6 years he is always updated with new and upcoming technologies and keen to learn more."
                            },
                            {
                                name: "Aniket Ayachit",
                                title: "Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Aniket-Ayachit.png",
                                linkedIn: 'https://www.linkedin.com/in/aniketayachit/',
                                twitter: 'https://twitter.com/Aniket_Ayachit/',
                                description: "Aniket Ayachit is a Mobile Application Developer working as an iOS developer in the team. After spending nearly 4 years working as iOS developer on different types of application for startups and established companies, Aniket knows what makes an application smooth and highly responsive. Aniket holds a Bachelor of Engineering in Information Technology from the University of Pune."
                            },
                            {
                                name: "Mohit Anand",
                                title: "Director Blockchain Strategy Consultancy",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Mohit-Anand.png",
                                linkedIn: 'https://www.linkedin.com/in/mohitanand86/',
                                description: "Mohit is an experienced consultant having advised companies for close to a decade on new business cases, technologies and financing with a focus on cleantech in emerging markets. He co-founded two cleantech consultancies and led projects with international companies and investors across North America, Europe and Asia. Mohit holds a Master in Public Administration from Harvard University."
                            },
                            {
                                name: "Sachin Chauhan",
                                title: "Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Sachin-Chauhan.png",
                                linkedIn: 'https://www.linkedin.com/in/sachin-chauhan-a1bba981/',
                                description: "Sachin is a mobile application developer working as an Android developer in the team. He has proficiency in designing UI for android applications. He has interests in Competitive programming and likes to solve challenging programming questions and also he is an active stock market trader."
                            },
                            {
                                name: "Yogesh Sawant",
                                title: "QA Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Yogesh-Sawant-v1.jpg",
                                linkedIn: 'https://www.linkedin.com/in/yogesh-sawant-819872ba/',
                                description: "Yogesh Sawant is a startup enthusiast with experience in testing mobile applications and web applications. He is product QA, an expert in Testing Methodologies and Product life cycles. Yogesh knows what needs to be done to make application user friendly."
                            },
                            {
                                name: "Ira Merchant",
                                title: "Recruiting Director",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Ira-Merchant-1.png",
                                linkedIn: 'https://www.linkedin.com/in/iramerchant/',
                                description: "Ira is an experienced talent acquisition professional. Ira has been with working on our team in Pune since 2012. Her experience and forte lie in her ability to help organisations scale rapidly while innovating recruitment practices that strengthen the people experience. She has a hands-on, action oriented approach to work."
                            },
                            {
                                name: "Francis Dufour",
                                title: "Community Manager",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Francis-Dufour.png",
                                linkedIn: 'https://www.linkedin.com/in/francis-dufour-25357960/',
                                description: "Francis is OST community manager and the success and strength of OST's community is the center of his attention. Since 2012 Francis has been involved in crypto-economics and blockchain techology. Francis is based in Montreal, Canada."
                            },
                            {
                                name: "Ashfaq Bhojani",
                                title: "Administration Director",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Ashfaq-Bhojani.png",
                                linkedIn: 'https://www.linkedin.com/in/ashfaq-bhojani-842b136/',
                                description: "Ashfaq is an experienced professional with experience in Operations Management including Facilities, Administration, Travel, Hospitality & HR across industries such as IT/ITES, Healthcare & Hospitality. With his expertise, experience & energy, Ashfaq provides strategic & tactical support critical to ensure smooth OST business operations."
                            },
                            {
                                name: "Santhosh Reddy",
                                title: "Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Santhosh-Reddy.jpg",
                                linkedIn: 'https://www.linkedin.com/in/santhosh-r3/',
                                description: "Santhosh is a startup and technology enthusiast. He joined the team as a Backend developer. He earned a degree from NIT Durgapur and always keen to learn new things. In his leisure time, Santhosh participates in online programming contests and was ranked among the top 1000 programmers on Codechef in many contests."
                            },
                            {
                                name: "Ashutosh Lodhi",
                                title: "Senior Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Ashutosh-Lodhi.jpg",
                                linkedIn: 'https://www.linkedin.com/in/ashutosh-lodhi-14287352/',
                                description: "Ashutosh is a senior software engineer with 4+ years of experience in building scalable and responsive websites. He has expertise in Javascript & Frontend frameworks. He holds Bachelor's Degree in Computer Science from Pune University."
                            },
                            {
                                name: "Somashekhar Mulimani",
                                title: "Principal QA Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Somashekhar-Mulimani.jpg",
                                linkedIn: 'https://www.linkedin.com/in/somashekhar-mulimani-85198214/',
                                description: "Soma is a QA Evangelist with hands on experience in Web and mobile Application Testing. He is also extremely passionate about ensuring a smooth user experience and very particular about delivering a high quality end product."
                            },
                            {
                                name: "Mayur Patil",
                                title: "Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Mayur-Patil.png",
                                linkedIn: 'https://www.linkedin.com/in/mayur-patil-21b2a8122/',
                                description: "Mayur is a Front-End developer who previously worked as a Full Stack developer. He is passionate about building applications using Python and Front-End technologies. Mayur holds a Bachelor of Engineering degree from the University of Pune."
                            },
                            {
                                name: "Nike Oberemm",
                                title: "Junior Product Manager",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Nike-Oberemm.png",
                                linkedIn: 'https://www.linkedin.com/in/nikeoberemm/',
                                description: "Nike is a Junior Product Manager with a passion for digital product development. She got excited about Blockchain when she started researching the technology for her thesis at the Freie Universität in Berlin, where she studied Business Administration with focus on Business Informatics and Innovation Management."
                            },
                            {
                                name: "Drew Brownell",
                                title: "Director of Financial Planning & Analysis",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Drew-Brownell.png",
                                linkedIn: 'https://www.linkedin.com/in/drewbrownell/',
                                description: "Drew has 10+ years experience as a key contributor in a number of finance and operations capacities. After beginning his career at Glencore, he pivoted to become an early finance hire at an online education startup which grew from five employees to a successful exit. He enjoys corporate finance, concerts, and comedy."
                            },
                            {
                                name: "Asaf Weitzman",
                                title: "Global Controller",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Asaf.png",
                                linkedIn: 'https://www.linkedin.com/in/asaf-weitzman-cpa-3b13404/',
                                description: "Asaf Weitzman is a seasoned NY Certified Public Accountant with 12+ years of mixed public and corporate experience in accounting, audit and tax. Asaf joined OST after working in accounting and finance leadership roles for NYC-based global tech and e-commerce start-ups. Outside of work, Asaf enjoys working on home improvement projects and spending time with his wife and 2 kids."
                            },
                            {
                                name: "Paruyr Gevorgyan",
                                title: "Senior Blockchain Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Paruyr-Gevorgyan.png",
                                linkedIn: 'https://www.linkedin.com/in/paruyrgevorgyan/',
                                description: "Paruyr (Pro) Gevorgyan is a technology enthusiast with a keen interest in Blockchain. As an advocate for privacy, security and openness, he is a strong believer of the promises Blockchain holds. Pro is passionate about playing chess and travelling. Originally from Yerevan, Armenia, he now lives and works in the IT heart of Europe, Berlin."
                            },
                            {
                                name: "Kevin Parulekar",
                                title: "Business Development Director AMER",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Kevin-Parulekar.png",
                                linkedIn: 'www.linkedin.com/in/kevin-parulekar-b5035288',
                                description: "Kevin Parulekar is the Director of Business Development for OST in the Americas. He brings over 15 years of experience leading global teams in strategy consulting, fintech, and social impact. As a former tech founder and development banker, Kevin is fascinated by the potential for blockchain technologies to transform humanity."
                            },
                            {
                                name: "Paul Kuveke",
                                title: "Blockchain Strategy Consultant",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Paul-Kuveke.png",
                                linkedIn: 'https://www.linkedin.com/in/paul-kuveke-32628652',
                                description: "Paul gets excited by big ideas and was an early supporter of several second-generation crypto projects. He partners with OST’s North American member companies to integrate Blockchain technology solutions into their businesses. Paul joins from Booz Allen Hamilton where he helped organizations design and execute flexible business solutions."
                            },
                            {
                                name: "Sarvesh Jain",
                                title: "Blockchain Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Sarvesh-Jain.png",
                                linkedIn: 'https://www.linkedin.com/in/jainsarvesh',
                                description: "Sarvesh, a Software Engineer, joined the Pune Team as a Blockchain Developer. He is an expert in backend development and system designing. Sarvesh loves to travel and he is an avid cyclist. In his free time, he likes to read up on the latest news in the tech industry."
                            },
                            {
                                name: "Anagha Murutkar",
                                title: "Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Anagha-Murtarkar.png",
                                linkedIn: 'https://www.linkedin.com/in/anagha-murtarkar/',
                                description: "Anagha is a Software Engineer who joined the backend team. She has experience in working with Machine Learning & Image Processing. In her leisure time, she likes doing competitive coding. She has received her Engineering from Pune Institute of Computer Technology (PICT)."
                            },
                            {
                                name: "Gulshan Vasnani",
                                title: "Blockchain Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Gulshan-Vasnani.png",
                                linkedIn: 'https://www.linkedin.com/in/gulshan-vasnani-21091b71/',
                                description: "Gulshan is passionate about learning and understanding new technologies. He has more than 3 years of experience as Full-Stack Developer in technologies like Java, Hibernate, Javascript, KnouckOutJS, CSS, SASS, Ant and Jenkins. His interests include playing cricket, watching movies and listening to music."
                            },
                            {
                                name: "Shlok Gilda",
                                title: "Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Shlok-Gilda.png",
                                linkedIn: 'https://www.linkedin.com/in/shlok-gilda-91416b167/',
                                description: "Shlok is software engineer with a keen interest in security and Artificial Intelligence. He is passionate about building intelligent and secure applications using what the latest technology has to offer. He is a travel enthusiast who loves the outdoors. Shlok has a Bachelor’s degree in Computer Science from University of Pune."
                            },
                            {
                                name: "Tejas Sangani",
                                title: "Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Tejas-Sangani-1.png",
                                linkedIn: 'https://www.linkedin.com/in/tejas-sangani-974a35147/',
                                description: "Tejas is a Software Engineer who is passionate about building smooth and highly responsive applications using Front-End and Back-End technologies. He holds a Bachelor of Engineering degree in Computer Science from the University of Pune."
                            },
                            {
                                name: "Shraddha Patil",
                                title: "Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Shraddha-Patil.png",
                                linkedIn: 'https://www.linkedin.com/in/shraddha-patil-1a7282a6/',
                                description: "Shraddha joined OST as a front end developer. She likes learning new front-end technologies and developing applications for mobile and web. Her interests include front-end technologies, full stack and android development. She completed Engineering degree in Computer Science from PICT."
                            },
                            {
                                name: "Aman Pruthi",
                                title: "Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Aman-Pruthi.png",
                                linkedIn: 'www.linkedin.com/in/aman-pruthi-a29a0194',
                                description: "Aman is a Software engineer with 3 years of experience in Telcom industry. He is passionate about Devops tools and technologies. He is a travel enthusiast and loves endurance sports like running and cycling. He is a strong engineering professional with a Bachelor's degree in Computer Engineering from University of Pune."
                            },
                            {
                                name: "Dhananjay Patil",
                                title: "Software Engineer",
                                image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Dhananjay-Patil.png",
                                linkedIn: 'https://in.linkedin.com/in/dhananjay08patil',
                                description: "Dhananjay joined Pune team as Software Engineer. He is a Computer Science graduate from University of Pune with a keen interest in programming and technologies. He loves to build highly scalable applications using cutting-edge technologies. Dhananjay is also enthusiastic about soccer and trekking."
                            },
                            {
                              name: "Jean Wang",
                              title: "Business Development Director APAC",
                              image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Jean-wang.png",
                              linkedIn: 'https://www.linkedin.com/in/jeanwangonline/',
                              description: "As an ex-engineer and ex-investment banker, Jean is passionate about the latest trends in Fintech. He joins OST with over 14 years of professional experience and will lead Business Development efforts in Asia, building partnerships and helping companies unlock their growth potential. Jean holds a MS in Electrical Engineering from Caltech, and a MBA from the University of Chicago."
                            },
                            {
                              name: "Martin Schenck",
                              title: "Senior Blockchain Engineer",
                              image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Martin.png",
                              linkedIn: 'https://www.linkedin.com/in/martinschenck/',
                              description: "Martin is a blockchain engineer who is bringing blockchain technology to the masses. Before joining OST, Martin was the hands-on CTO of Plugsurfing, Europe’s largest roaming platform for electric vehicle charging. He led the Plugsurfing platform from its infancies to a successful exit within five years. Martin is generally interested in advanced (software) systems and solving daring challenges."
                            },
                            {
                              name: "Ankit Singh",
                              title: "Senior Software Engineer",
                              image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Ankit-Singh.png",
                              linkedIn: 'https://www.linkedin.com/in/ankit-singh-2099/',
                              description: "Ankit Singh is a tech enthusiast. He has received engineering degree from VNIT Nagpur. His previous experience includes working with retail banking systems. Ankit likes to travel and learn about different cultures. He loves to play cricket and basketball in his spare time."
                            },
                            {
                              name: "Preshita Shirke",
                              title: "Software Engineer",
                              image: "https://d36lai1ppm9dxu.cloudfront.net/assets/image/team/Preshita-Shirke.png",
                              linkedIn: 'https://www.linkedin.com/in/preshita-shirke-1109a0aa/',
                              description: "A computer science engineering graduate from VJTI, Mumbai, Preshita has extensive 3 year working experience in frontend technologies. When not following her passion of learning and exploring new technologies she spends her time cooking and travelling."
                            }
                            ];

            %>

            <% core_team.each_with_index do|member, index| %>
              <% if (index % 3) == 0 %><div class="row mx-auto"><% end %>
              <div class="col-12 col-md-4" itemprop="member" itemscope itemtype="http://schema.org/Person">
                <div class="thumbnail">
                  <img class='img-fluid' itemprop="photo" src="<%=member[:image] %>" alt="<%=member[:name] %>">
                  <div class="caption">
                    <h5 itemprop="name"><%=member[:name] %></h5>
                    <h6 itemprop="jobTitle"><%=member[:title] %></h6>
                    <p class="mb-2"><%=member[:description] %></p>
                    <p>
                      <% if member[:linkedIn].present? %>
                        <a class="profile-links" target="_blank" href="<%= member[:linkedIn] %>">LinkedIn</a>
                      <% end %>
                      <% if member[:twitter].present? %>
                        <% if member[:linkedIn].present? %>•&nbsp;<% end %>
                        <a class="profile-links" target="_blank" href="<%= member[:twitter] %>">Twitter</a>
                      <% end %>
                      <% if member[:medium].present? %>
                        <% if member[:linkedIn].present? || member[:twitter].present? %>•&nbsp;<% end %>
                        <a class="profile-links" target="_blank" href="<%= member[:medium] %>">Medium</a>
                      <% end %>
                      <% if member[:website].present? %>
                        <% if member[:linkedIn].present? || member[:twitter].present? || member[:medium].present? %>•&nbsp;<% end %>
                        <a class="profile-links" target="_blank" href="<%= member[:website] %>">Website</a>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
              <% if ((index % 3) == 2) || ((index + 1) == core_team.length) %></div><% end %>
            <% end %>

          </div>

      </div>

    </div>

  </div>
</div>
