<div id="team" class="container-team paddingTop57">
  <div class="container">

    <div class="row">
      <h2 class="mx-auto mb-4 pb-3">Meet Team OST</h2>
    </div>

    <div class="row">

      <div class="col-12 col-md-11 col-md-offset-1 mx-auto">

        <div class="core-team">

          <%
            members_team_response = (@dynamic_content.data[GlobalConstant::StaticContentFileName.ost_members_team]['api_response'] || []) rescue []
            members_team_response.each_with_index do|member, index|
          %>
            <% if (index % 3) == 0 %><div class="row mx-auto"><% end %>

            <div class="col-12 col-md-4" itemprop="member" itemscope itemtype="http://schema.org/Person">
              <div class="thumbnail">
                <img class='img-fluid' itemprop="photo" src="<%=raw(member['members_list_image']) %>" alt="<%=raw(member['members_list_name']) %>">
                <div class="caption">
                  <h5 itemprop="name"><%=raw(member['members_list_name']) %></h5>
                  <h6 itemprop="jobTitle"><%=raw(member['members_list_title']) %></h6>
                  <p class="mb-2"><%=raw(member['members_list_description']) %></p>
                  <p>
                    <% if member['members_list_linkedIn'].present? %>
                      <a class="profile-links" rel="noopener noreferrer nofollow" target="_blank" href="<%= raw(member['members_list_linkedIn']) %>">LinkedIn</a>
                    <% end %>
                    <% if member['members_list_twitter'].present? %>
                      <% if member['members_list_linkedIn'].present? %>•&nbsp;<% end %>
                      <a class="profile-links" rel="noopener noreferrer nofollow" target="_blank" href="<%= raw(member['members_list_twitter']) %>">Twitter</a>
                    <% end %>
                    <% if member['members_list_medium'].present? %>
                      <% if member['members_list_linkedIn'].present? || member['members_list_twitter'].present? %>•&nbsp;<% end %>
                      <a class="profile-links" rel="noopener noreferrer nofollow" target="_blank" href="<%= raw(member['members_list_medium']) %>">Medium</a>
                    <% end %>
                    <% if member['members_list_website'].present? %>
                      <% if member['members_list_linkedIn'].present? || member['members_list_twitter'].present? || member['members_list_medium'].present? %>•&nbsp;<% end %>
                      <a class="profile-links" rel="noopener noreferrer nofollow" target="_blank" href="<%= raw(member['members_list_website']) %>">OST LIVE</a>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
            <% if ((index % 3) == 2) || ((index + 1) == members_team_response.length) %></div><% end %>
          <% end %>

        </div>

      </div>

    </div>

  </div>
</div>
