<%
  ost_events = (@dynamic_content.data[GlobalConstant::StaticContentFileName.ost_events]['api_response'] || []) rescue []
  if ost_events.present?
    ost_event_filtered = []
    ost_events.sort_by! { |k| k["event_date"] }
    ost_events.reverse.each_with_index do |item, index |
      puts (item["event_date"])
      if item["event_date"].to_i  >= (Time.now - 24.hours).utc.to_i || index < 3
            ost_event_filtered.unshift(item)
      end
    end
    if ost_event_filtered.present?
%>

  <section class="container-fluid container-upcoming-events py-5">
  <div class="row">
    <div class="container">
      <h3 class="text-center mb-4">Upcoming Events</h3>
      <div style="min-height: 80px;">
        <div id="events-carousel-wrapper" class="d-none">
          <%  ost_event_filtered.each_with_index do |item, index| %>
            <% date = Time.at(item['event_date'].to_i).utc %>
        <div id="event-carousel">

          <div class="bg-color">
            <a href="<%= item['event_link'] %>" target="_blank" class="d-block" title="<%= item['event_name'] %>">
              <div class="media content-wrapper align-items-center">
                <span class="dateEl"> <em><%= date.strftime("%d")%></em> <%= date.strftime("%b")%> </span>
                <div class="media-body content-body">
                  <div class="heading"><%= item['event_name'] %></div>
                  <p><%= item['event_desc'] %></p>
                </div>
                <svg width="15" height="20" class="svg-icon">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#<%= item['event_icon'] %>"></use>
                  </switch>
                </svg>
              </div>
            </a>
          </div>

        </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {
      ost.carousel.events.initCarousel()
    })
  </script>
<% end %>
<% end %>
<% end %>