<section class="container-fluid bg-image container-carousel">
  <div class="row">
    <div class="container">
      <h1 class="pl-2">
        <svg class="ost-nav-logo">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
          </switch>
        </svg>&nbsp;news
      </h1>
      <%
        news = (@dynamic_content.data[GlobalConstant::StaticContentFileName.ost_news]['api_response'] || []) rescue []
        if news.present?
      %>
      <div id="home-carousel-wrapper" class="pb-5">

        <div class="one-el-carousel">
          <div class="w-100 one-el-wrapper">
            <div class="content-wrapper">
                <% if news[0]['news_list_article_link']%>
                  <a href=" <%news[0]['news_list_article_link'] %> " target="_blank" title= <%=news[0]['news_list_title'] %>>
                    <%= render :partial => "/web/ost/index/home_carousel_content" ,locals: {item: news[0]} %>
                  </a>
                <%else %>
                   <%= render :partial => "/web/ost/index/home_carousel_content" ,locals: {item: news[0]} %>
                <%end %>
            </div>
          </div>
        </div>

        <% news.delete_at(0) %>
        <% news.each_with_index do|item, index| %>
          <% if index % 2 == 1 %>
            <% next %>
          <% end %>
          <div class="two-el-carousel" >
            <div class="w-100 tow-el-wrapper">
              <div class="content-wrapper">

                  <%if news[index]['news_list_article_link'] %>
                    <a href=<%= raw(news[index]['news_list_article_link']) %> target="_blank" title=<%=raw(news[index]['news_list_title']) %>>
                      <%= render :partial => "/web/ost/index/home_carousel_content" ,locals: {item: news[index]} %>
                    </a>
                  <%else%>
                    <%= render :partial => "/web/ost/index/home_carousel_content",locals: {item:news[index]} %>
                  <%end%>
                  <%if news[index+1].present? %>
                    <% index += 1 %>
                    <%if news[index]['news_list_article_link'] %>
                      <a href=<%= raw(news[index]['news_list_article_link']) %> target="_blank" title=<%=raw(news[index]['news_list_title']) %>>
                        <%= render :partial => "/web/ost/index/home_carousel_content" ,locals: {item: news[index]} %>
                      </a>
                    <%else%>
                      <%= render :partial => "/web/ost/index/home_carousel_content",locals: {item:news[index]} %>
                    <%end%>
                  <%end%>
              </div>
            </div>
          </div>
        <%end%>
      </div>
      <% end %>
    </div>
  </div>
</section>

<% content_for :end_js do %>
  <script type="text/javascript">
    (function () {
      ost.carousel.home.initCarousel();
    })()
  </script>
<%end%>