<%
  ost_home_page_jumbotron = (@dynamic_content.data[GlobalConstant::StaticContentFileName.ost_home_page_jumbotron]['api_response'] || []) rescue []
  if ost_home_page_jumbotron.present?
%>

<section class="container-jumbotron midnight-blue py-6 position-relative side-by-side-1-wrapper">

  <div class="container pb-5 pb-lg-6 content-z-index">
    <div class="row align-items-center pb-lg-4">

      <div class="position-absolute d-none d-lg-block" style="top: 20%;left: 39%;transform: rotate(-10deg);height: 100%;max-width: 360px;" >
        <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/home-page/ost-platform-dots-bg@2x.png" class="img-fluid" />
      </div>

      <div class="col-md-12 col-lg-6">
        <h3 class="header-title white"><%= ost_home_page_jumbotron[0]['jumbotron_title']%></h3>
        <p class="mt-3 desc white">
          <%= ost_home_page_jumbotron[0]['jumbotron_description']%>
        </p>
        <% if ost_home_page_jumbotron[0]['primary_btn_enabled_flag'] == 'on' %>
          <button class="btn btn-primary my-2 my-md-3" title="<%= ost_home_page_jumbotron[0]['primary_btn_title'] %>" data-toggle="modal" data-target="#helpVideoModal" data-src="<%= ost_home_page_jumbotron[0]['primary_btn_link'] %>"><%= ost_home_page_jumbotron[0]['primary_btn_title'] %></button>
        <% end %>
        <% if ost_home_page_jumbotron[0]['sec_btn_enabled_flag'] == 'on' %>
          <a href="<%= ost_home_page_jumbotron[0]['sec_btn_link'] %>" class="btn btn-secondary openst-forum my-2 ml-sm-3" title="<%=ost_home_page_jumbotron[0]['sec_btn_title'] %>"><%= ost_home_page_jumbotron[0]['sec_btn_title']%></a>
        <%end%>
      </div>

    </div>
  </div>

  <div class="polygon-1 d-none d-lg-block"></div>
  <div class="polygon-2 d-none d-lg-block"></div>
</section>

<%end%>

