<%
  ost_home_page_jumbotron = (@dynamic_content.data[GlobalConstant::StaticContentFileName.ost_home_page_jumbotron]['api_response'] || []) rescue []
  if ost_home_page_jumbotron.present?
%>

<section class="container-jumbotron py-5 d-none d-md-block">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-12 col-lg-6">
        <h3 class="header-blue-900"><%= ost_home_page_jumbotron[0]['jumbotron_title']%></h3>
        <p class="mt-3">
          <%= ost_home_page_jumbotron[0]['jumbotron_description']%>
        </p>
        <% if ost_home_page_jumbotron[0]['primary_btn_enabled_flag'] == 'on' %>
          <a href="<%= ost_home_page_jumbotron[0]['primary_btn_link'] %>" class="btn btn-primary my-2 my-md-3 smooth-scroll" title="<%= ost_home_page_jumbotron[0]['primary_btn_title'] %>"><%= ost_home_page_jumbotron[0]['primary_btn_title'] %></a>
        <% end %>
        <% if ost_home_page_jumbotron[0]['sec_btn_enabled_flag'] == 'on' %>
          <a href="<%= ost_home_page_jumbotron[0]['sec_btn_link'] %>" class="btn btn-secondary my-2 ml-3 smooth-scroll" title="<%=ost_home_page_jumbotron[0]['sec_btn_title'] %>"><%= ost_home_page_jumbotron[0]['sec_btn_title']%></a>
        <%end%>
      </div>

      <div class="col-md-12 col-lg-6 text-center mt-3 mt-md-0">
        <div class="illustration w-100">
          <div class="btn-secondary btn btn-play" title="Watch Intro" data-toggle="modal" data-target="#helpVideoModal" data-src="<%= ost_home_page_jumbotron[0]['jumbotron_video_link'] %>">
            <div class="play align-middle">
              <svg class="svg">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
                </switch>
              </svg>
            </div>
            <span class="align-middle"></span>
          </div>
          <img
            class="img-fluid position-relative" alt="Simple Token Play Video"
            src="<%= ost_home_page_jumbotron[0]['jumbotron_image'] %>"/>
          <p class="mt-2">Introducing OST</p>
        </div>
      </div>

    </div>
  </div>
</section>

<%end%>