<%= render :partial => "/web/ost/index/uber_banner" %>
<nav class="navbar navbar-expand-md navbar-simpletoken">
  <div class="container">
    <a class="navbar-brand ost-brand" href="<%= GlobalConstant::Base.root_url %>" title="OST">
      <svg class="ost-nav-logo">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
        </switch>
      </svg>
    </a>
    <button class="navbar-toggler navbar-toggler-right ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown nav-products">
          <a class="nav-link dropdown-toggle d-flex" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li>
              <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>" class="p-0" title="OST - KIT">
                <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kit-brand-nav-menu.svg" width="80"/>
                Launch your own Branded Tokens and turn your business into a dynamic ecosystem.
              </a>
            </li>
            <li>
              <a href="<%= GlobalConstant::CompanyOtherProductUrls.view_root_url %>" class="p-0" title="OST - VIEW" target="_blank">
                <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-view-brand-nav-menu.svg" width="86"/>
                View and analyze transactions across the OpenST side blockchains for a macro view of the OpenST ecosystem.
              </a>
            </li>
            <li>
              <a href="<%= GlobalConstant::CompanyOtherProductUrls.kyc_root_url %>" class="p-0" title="OST - KYC">
                <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-brand-nav-menu.svg" width="80"/>
                The one place for your team to quickly review and process the KYC applications.
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown nav-products">
          <a class="nav-link dropdown-toggle d-flex" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Developers
          </a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li>
              <a href="https://dev.ost.com" target="_blank" class="nav-svg-link d-flex" title="API Reference">
                <svg class="nav-svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-api-reference-icon"></use>
                  </switch>
                </svg>
                <span class="pl-2">API Reference</span>
              </a>
            </li>
            <li>
              <a href="https://drive.google.com/file/d/0Bwgf8QuAEOb7Z2xIeUlLd21DSjQ/view" target="_blank" class="nav-svg-link d-flex" title="White Paper">
                <svg class="nav-svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-white-paper-icon"></use>
                  </switch>
                </svg>
                <span class="pl-2">White Paper</span>
              </a>
            </li>
            <li>
              <a href="https://github.com/OpenSTFoundation" target="_blank" class="nav-svg-link d-flex" title="Github">
                <svg class="nav-svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-github-icon"></use>
                  </switch>
                </svg>
                <span class="pl-2">Github</span>
              </a>
            </li>
            <li>
              <a href="https://gitter.im/OpenSTFoundation/SimpleToken" target="_blank" class="nav-svg-link d-flex" title="Developer Chat">
                <svg class="nav-svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-dev-chat-icon"></use>
                  </switch>
                </svg>
                <span class="pl-2">Developer Chat</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown nav-products">
          <a class="nav-link dropdown-toggle d-flex" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Company
          </a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li>
              <a href="<%= GlobalConstant::Base.root_url %>team" class="nav-svg-link d-flex" title="Team">
                <svg class="nav-svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-team-icon"></use>
                  </switch>
                </svg>
                <span class="pl-2">Team</span>
              </a>
            </li>
            <li>
              <a href="<%= GlobalConstant::Base.root_url %>partners" class="nav-svg-link d-flex" title="Partners">
                <svg class="nav-svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-partners-icon"></use>
                  </switch>
                </svg>
                <span class="pl-2">Partners</span>
              </a>
            </li>
            <li>
              <a href="https://medium.com/ostdotcom" target="_blank" class="nav-svg-link d-flex" title="Blog">
                <svg class="nav-svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-blog-icon"></use>
                  </switch>
                </svg>
                <span class="pl-2">blog</span>
              </a>
            </li>
            <li>
              <a href="<%= GlobalConstant::Base.root_url %>news" class="nav-svg-link d-flex" title="News">
                <svg class="nav-svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-news-icon"></use>
                  </switch>
                </svg>
                <span class="pl-2">news</span>
              </a>
            </li>
            <li>
              <a href="<%= GlobalConstant::Base.root_url %>careers" class="nav-svg-link d-flex" title="Careers">
                <svg class="nav-svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-careers-icon"></use>
                  </switch>
                </svg>
                <span class="pl-2">careers</span>
              </a>
            </li>
            <li>
              <a href="https://help.ost.com" target="_blank" class="nav-svg-link d-flex" title="Support">
                <svg class="nav-svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-support-icon"></use>
                  </switch>
                </svg>
                <span class="pl-2">support</span>
              </a>
            </li>
            <li>
              <a href="<%= GlobalConstant::Base.root_url %>documents" class="nav-svg-link d-flex" title="Documents">
                <svg class="nav-svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-documents-icon"></use>
                  </switch>
                </svg>
                <span class="pl-2">documents</span>
              </a>
            </li>
            <li>
              <a href="<%= GlobalConstant::CompanyOtherProductUrls.token_sale_url %>" class="nav-svg-link d-flex" title="Token Sale">
                <svg class="nav-svg">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dropdown-token-sale-icon"></use>
                  </switch>
                </svg>
                <span class="pl-2">token sale</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="d-none d-md-inline" style="font-size: 0">
        <ul class="navbar-nav">
          <li>
            <a href="https://t.me/ostdotcom" target="_blank" title="OST - Telegram">
              <span class="header-social-telegram-icon"></span>
            </a>
          </li>
          <li class="ml-2">
            <a href="https://twitter.com/OSTdotcom" target="_blank" title="OST - Twitter">
              <span class="header-social-twitter-icon"></span>
            </a>
          </li>
          <li class="ml-2">
            <a href="https://medium.com/ostdotcom" target="_blank" title="OST - Medium">
              <span class="header-social-medium-icon"></span>
            </a>
          </li>
          <li class="ml-2">
            <a href="https://www.linkedin.com/company/18209852" target="_blank" title="OST - Linkedin">
              <span class="header-social-linkedIn-icon"></span>
            </a>
          </li>
          <li class="ml-2">
            <a href="https://www.facebook.com/OST" target="_blank" title="OST - Facebook">
              <span class="header-social-facebook-icon"></span>
            </a>
          </li>
          <li class="ml-2">
            <a href="https://www.youtube.com/ostdotcom" target="_blank" title="OST - Youtube">
              <span class="header-social-youtube-icon"></span>
            </a>
          </li>
          <li class="ml-2">
            <a href=" https://github.com/OpenSTFoundation" target="_blank" title="OST - Github">
              <span class="header-social-github-icon"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>