<section class="container-fluid events-news-carousel" id="ost-events">
  <%= render :partial => "/web/ost/index/events_carousel" %>
  <div class="row container-carousel news-container">
    <div class="container">
      <%
        image_height = 720;
        image_width = 1280;
        padding_bottom = (100 * image_height.to_f)/image_width.to_f;
        news = (@dynamic_content.data[GlobalConstant::StaticContentFileName.ost_news]['api_response'] || []) rescue []
        news = news[0...5]
        if news.present?
      %>
      <div id="home-carousel-wrapper" class="pt-5">

        <% news.each_with_index do|item, index| %>
          <div class="one-el-carousel">
            <div class="w-100 one-el-wrapper">
              <div class="content-wrapper">
                <%if news[index]['news_list_link_type'] == 'article-link' %>
                  <a href= "<%= raw(news[index]['news_list_link']) %>" rel="noopener noreferrer nofollow" target="_blank" title="<%=raw(news[index]['news_list_title']) %>">
                    <%= render :partial => "/web/ost/index/news_carousel_content", locals: {item: news[index], news_index: index} %>
                  </a>
                <%else%>
                  <%= render :partial => "/web/ost/index/news_carousel_content", locals: {item:news[index], news_index: index} %>
                <%end%>
              </div>
            </div>
          </div>
        <%end%>
        <div class="one-el-carousel">
          <div class="w-100 one-el-wrapper">
            <div class="content-wrapper">
                <a href= "/events-news" title="events-news-page">
                  <div class="w-100 content rounded ">
                  <div class="article-wrapper">
                      <div class="img-wrapper responsively-lazy" style="padding-bottom: <%= padding_bottom.to_f %>%;" >
                        <img class="img-fluid" src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-events-see-more-events.png"
                             data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-events-see-more-events.png"
                             alt="Go to our events and news page to learn more."
                             srcset="<%= raw GlobalConstant::Base.placeholder_image_src %>"
                             lazy-load-low-priority
                          />
                      </div>
                  </div>
                  <div class="carousel-title">Go to our News and Events page to learn more.</div>
                  <div class="w-100 date-wrapper">
                    <div class='date-content'>
                      <div class="date-text"> Go to page</div>
                    </div>
                  </div>
                  </div>
                </a>
            </div>
          </div>
        </div>

      </div>
      <% end %>

      <div class="d-flex justify-content-center row pb-4">
        <a href="/events-news"  class="btn btn-primary my-2 my-md-3" title="See all news and events">See all news and events</a>
      </div>

    </div>
  </div>
</section>

<% content_for :end_js do %>
  <script type="text/javascript">
    (function () {
      ost.carousel.home.initCarousel();
    })()
  </script>
<%end%>