<section class="container-fluid container-powered position-relative ost pt-5">
  <div class="row align-items-center">
    <div class="col col-lg-5 col-xl-4 ml-xl-auto mr-xl-6 pl-xl-1 mx-auto">
<!--      <svg class="svg ost-kit-logo mb-4">-->
<!--        <switch>-->
<!--          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ost-kit"></use>-->
<!--        </switch>-->
<!--      </svg>-->
      <h3>TOOLKITS & APIs</h3>
      <p>
        OST KIT provides all the tools needed to run your blockchain-powered economy. Use our robust RESTful APIs and SDKs to integrate advanced blockchain functionality with ease while observing the highest security standards. Our user firendly dashboards help you manage and optimize your Branded Token economies.
      </p>
      <div class="mt-4 text-center text-md-left">
        <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>" class="btn btn-primary" title="Discover Ost Kit">Discover Ost Kit</a>
        <a href="" class="btn btn-secondary mt-3 mt-xl-0 ml-xl-3" title="Check Our API's">Check Our API's</a>
      </div>
    </div>
    <div class="col col-lg-6 col-xl-6 p-md-0 d-none d-md-block">
      <img class="img-fluid responsively-lazy"
           src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-home-page-kit-hero.png"
           alt="OST - Blockchain Toolkit"
           data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-home-page-kit-hero.png"
           srcset="<%= raw GlobalConstant::Base.placeholder_image_src %>"
        />
    </div>
  </div>
  <div class="row container-powered-containers">
    <div class="col col-lg-10 col-xl-9 mx-md-auto">
      <div class="row">
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class="container-1 rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <div class="align-items-center d-flex">
                <svg width="32" height="28">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-api-sdk-logo"></use>
                  </switch>
                </svg>
                <h5 class="d-inline-block ml-1 mb-0">APIs & SDKs</h5>
              </div>
              <p class="my-2">OST KIT provdes RESTful APIs and SDKs to help you easily setup and integrate your token economy into your existing app, enabling you to test with minimal effort from your developers.</p>
            </div>
            <div>
              <a href="<%= GlobalConstant::CompanyOtherProductUrls.view_root_url %>" class="text-link" target="_blank" title="Read More">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class="container-1 rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <div class="align-items-center d-flex">
                <svg width="36" height="28">
                  <switch>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-guides-logo"></use>
                  </switch>
                </svg>
                <h5 class="d-inline-block ml-1 mb-0">DEV RESOURCES</h5>
              </div>
              <p class="my-2">OST makes it easy to design and test your blockchain-enabled app with documentation and sample code for Ruby, JavaScript, PHP, and Java. Framework code for OST Wallet and third-party payment processors streamlines the process for developers.</p>
            </div>
            <div>
              <a href="<%= GlobalConstant::CompanyOtherProductUrls.view_root_url %>" class="text-link" target="_blank" title="Read More">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class="container-1 rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <svg class="d-block" width="141" height="28">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-kyc-brand-nav-menu"></use>
                </switch>
              </svg>
              <p class="my-2">OST KYC as a service ensures that you are compliant with know your customer regulations.</p>
            </div>
            <div>
              <a href="<%= GlobalConstant::CompanyOtherProductUrls.kyc_root_url %>" class="text-link" title="Read More">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>