<section class="container-fluid container-powered position-relative ost pt-5">
  <div class="row align-items-center">
    <div class="col col-lg-5 col-xl-4 ml-xl-auto mr-xl-6 pl-xl-1 mx-auto">
      <svg class="svg ost-kit-logo mb-2">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ost-kit"></use>
        </switch>
      </svg>
      <p>
        OpenST & OST KIT provides you all the tools needed to run your blockchain-powered economy on open scalable sidechains.  Use our Robust RESTful APIs to integrate advanced blockchain functionality with ease while observing the highest security standards. Or, use SDKs to get started even faster. Our user firendly dashboards will help you manage your OpenST Branded Token economies with ease.
      </p>
      <div class="mt-4 text-center text-md-left">
        <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>" class="btn btn-primary" title="Discover Ost Kit">Discover Ost Kit</a>
        <a href="" class="btn btn-secondary mt-3 mt-xl-0 ml-xl-3" title="Check Our API's">Check Our API's</a>
      </div>
    </div>
    <div class="col col-lg-6 col-xl-6 p-md-0 d-none d-md-block">
      <img class="img-fluid responsively-lazy"
           src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-blockchain-toolkit-image-v2.png"
           alt="OST - Blockchain Toolkit"
           data-srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-blockchain-toolkit-image-v2.png"
           srcset="<%= raw GlobalConstant::Base.placeholder_image_src %>"
        />
    </div>
  </div>
  <div class="row container-powered-containers">
    <div class="col col-lg-10 col-xl-9 mx-md-auto">
      <div class="row">
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class="container-1 rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <svg class="d-block" width="110" height="28">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-api-sdk-logo"></use>
                </switch>
              </svg>
              <p class="my-2">OST KIT gives you all the tools you need to run your blockchain-powered economy on open scalable sidechains. No need to go through an ICO: Launch your own Branded Token within minutes.</p>
            </div>
            <div>
              <a href="<%= GlobalConstant::CompanyOtherProductUrls.view_root_url %>" class="text-link" target="_blank" title="Read More">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class="container-1 rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <svg class="d-block" width="110" height="28">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-guides-logo"></use>
                </switch>
              </svg>
              <p class="my-2">View and analyze transactions across the OpenST side blockchains. Get a macro view of the entire OpenST ecosystem. Zoom in to view transactions within a particular OST powered digitial community.</p>
            </div>
            <div>
              <a href="<%= GlobalConstant::CompanyOtherProductUrls.view_root_url %>" class="text-link" target="_blank" title="Read More">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex my-3 my-md-5">
          <div class="container-1 rounded p-4 d-flex flex-column">
            <div style="flex: 1 1 auto">
              <svg class="d-block" width="141" height="28">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-kyc-brand-nav-menu"></use>
                </switch>
              </svg>
              <p class="my-2">OST KYC is the first plug-and-play KYC/AML management solution for token sales. Process thousands of applicants smoothly and securely. Developed for the Simple Token "OST" ICO. Now available for any company to use.</p>
            </div>
            <div>
              <a href="<%= GlobalConstant::CompanyOtherProductUrls.kyc_root_url %>" class="text-link" title="Read More">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>