<!DOCTYPE html>
<html lang="en-US">
<head>
  <title><%= @page_meta_data[:title] %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta name="description" content="<%= @page_meta_data[:description] %>">
  <meta name="keywords" content="<%= @page_meta_data[:keywords] %>">
  <meta name="robots" content="<%= @page_meta_data[:robots] %>">
  <meta name="google-site-verification" content="HXVSECDp1rMChIwEQ2pT9ti4NUHd7yAvXz8sQvvhyFw" />
  <% if @page_meta_data[:canonical].present? %>
    <link rel="canonical" href="<%= @page_meta_data[:canonical] %>" />
  <% end %>

  <%
     og_meta = @page_meta_data[:og]
     if og_meta.present?
  %>
    <% if og_meta[:title].present? %>
      <meta property="og:title" content="<%= og_meta[:title] %>"/>
      <meta property="og:description" content="<%= og_meta[:description] %>"/>
      <meta property="og:type" content="<%= og_meta[:type] %>"/>
      <meta property="og:url" content="<%= og_meta[:url] %>"/>
      <meta property="og:site_name" content="ost.com"/>
      <meta property="og:image" content="<%= og_meta[:image] %>"/>
    <% end %>
  <% end %>

  <%
     tw_meta = @page_meta_data[:twitter]
     if tw_meta.present?
  %>
    <meta name="twitter:card" content="<%= tw_meta[:card] %>" />
    <% if tw_meta[:site].present? %>
      <meta name="twitter:site" content="<%= tw_meta[:site] %>" />
    <% end %>
    <% if tw_meta[:title].present? %>
      <meta name="twitter:title" content="<%= tw_meta[:title] %>" />
    <% end %>
    <% if tw_meta[:description].present? %>
      <meta name="twitter:description" content="<%= tw_meta[:description] %>" />
    <% end %>
    <% if tw_meta[:creator].present? %>
      <meta name="twitter:creator" content="<%= tw_meta[:creator] %>" />
    <% end %>
    <% if tw_meta[:image].present? %>
      <meta name="twitter:image" content="<%= tw_meta[:image] %>" />
    <% end %>
    <% if tw_meta[:image_alt].present? %>
      <meta name="twitter:image:alt" content="<%= tw_meta[:image_alt] %>" />
    <% end %>
  <% end %>

  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "<%= @page_meta_data[:name] %>",
  "url": "<%= og_meta[:url] %>",
  "image": "<%= og_meta[:image] %>",
}
</script>

  <%= stylesheet_link_tag 'web/default_ost' %>
  <%= stylesheet_link_tag "#{specific_manifest_file_path}", media: 'all' if has_specific_css_manifest_file? %>

  <%= csrf_meta_tags %>

  <script type="text/javascript">
    window.name = "<%= [*('A'..'Z')].sample(8).join %>";
  </script>
  

  <% if Rails.env.production? %>
    <%= render :partial => 'shared/web/common/ga_config_ost' %>
  <% end %>
  <%= yield(:head_js) %>

  <%= render :partial => "/shared/web/common/fav_icons" %>
</head>

<body contenteditable="false">
<main id="site-content">
  <%= yield %>
  <%= render :partial => "/shared/web/common/cookie_banner" %>
  <%= render :partial => "/shared/web/common/footer_links" %>
  <%= render :partial => "/shared/web/common/footer" %>
  <%= render :partial => "/shared/web/common/index_svg_sprite", :cached => true %>
</main>

<!-- link rel="stylesheet" href="https://use.typekit.net/lde7yjs.css" / -->
<%= javascript_include_tag 'web/common' %>
<%= javascript_include_tag "#{specific_manifest_file_path}" if has_specific_js_manifest_file? %>

<%= yield(:end_js) %>

<script type="text/javascript">
  $(function () {
    $( window ).on('load', function () {
      setTimeout(function () {
        //Load typekit fonts.
        $('head').append('<link rel="stylesheet" href="https://use.typekit.net/lde7yjs.css" />');

        // Force Load All other Images.
        var responsivelyLazy = window.responsivelyLazy;
        responsivelyLazy && responsivelyLazy.forceLoadAll && responsivelyLazy.forceLoadAll();
      }, 100);
    });
    ost.utils.cookieConsent.init({
      domain: '<%= URI.parse(GlobalConstant::Base.root_url).host %>'
    })
  });
</script>

</body>
</html>